;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S5 - ZCU Cabin
; Creator：Weber
; Create Date：2025/08/15
; Note：
;
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********

[Error Code]
CAN             = ZCUCA01
LIN             = ZCULI01
H-bridge        = ZCUHB01
LSD             = ZCUL001
HSD             = ZCUH001
eFuse           = ZCUE001
Power Blue      = ZCUPB01
Power Red       = ZCUPR02
Interlock input = ZCUIN01
Analog VREF     = ZCUAN01
Analog In input = ZCUAN01
Digital I/O     = ZCUDI01

[Internal IC]
NOR Flash = 00-00-01-60-18

[Power Monitor]
HW_VER_VCC_5V_VDDM_Max = 5497.8
HW_VER_VCC_5V_VDDM_Min = 4498.2
M_AD_REF_KL30_BL_Max   = 1487.85
M_AD_REF_KL30_BL_Min   = 1346.15
M_AD_REF_KL30_RD_Max   = 1487.85
M_AD_REF_KL30_RD_Min   = 1346.15
M_AD_REF_KL30_Y_Max    = 1487.85
M_AD_REF_KL30_Y_Min    = 1346.15
M_AD_NTC_1_Max         = 2750
M_AD_NTC_1_Min         = 1810
M_AD_NTC_2_Max         = 2750
M_AD_NTC_2_Min         = 1810
M_AD_NTC_3_Max         = 2750
M_AD_NTC_3_Min         = 1810

[Power Monitor MUX]
M_AD_VPUP_Max        = 1487.85
M_AD_VPUP_Min        = 1346.15
M_AD_VCC_5V_CAN_Max  = 2625
M_AD_VCC_5V_CAN_Min  = 2375
M_AD_PHY_REG_3V3_Max = 3465
M_AD_PHY_REG_3V3_Min = 2945
PHY_REG_1V1_Max      = 1155
PHY_REG_1V1_Min      = 1045
;PHY_REG_1V8_Max      = 1890
;PHY_REG_1V8_Min      = 1710

[CAN]
CAN02-- = 1
CAN03-- = 1
CAN04-- = 1
CAN05-- = 1
CAN06-- = 1
CAN13-- = 1
CANWK-- = 1
CANVA-- = 1
;CAN07-- = 1;Envelop
;CAN08-- = 1;Envelop
;CAN11-- = 1;Envelop
;CAN12-- = 1;Envelop

[LIN]
LIN01-- = 1
LIN03-- = 1
LIN04-- = 1
LIN05-- = 1
LIN06-- = 1;Envelop
LIN07-- = 1
LIN08-- = 1
LIN09-- = 1

[Analog Input Type-1_1]
IAN_16 ANA_IN_20_Max  = 5500
IAN_16 ANA_IN_20_Min  = 4500
IAN_15 ANA_IN_19_Max  = 5500
IAN_15 ANA_IN_19_Min  = 4500
IAN_02 ANA_IN_02_Max  = 5500
IAN_02 ANA_IN_02_Min  = 4500
IAN_29 ANA_IN_29_Max  = 5500
IAN_29 ANA_IN_29_Min  = 4500
IAN_28 ANA_IN_28_Max  = 5500
IAN_28 ANA_IN_28_Min  = 4500
;IAN_04 ANA_IN_04_Max  = 5500 ;Envelop
;IAN_04 ANA_IN_04_Min  = 4500 ;Envelop
;IAN_03 ANA_IN_03_Max  = 5500 ;Envelop
;IAN_03 ANA_IN_03_Min  = 4500 ;Envelop
;IAN_37 ANA_IN_09_Max  = 5500 ;Envelop
;IAN_37 ANA_IN_09_Min  = 4500 ;Envelop
;IAN_36 ANA_IN_08_Max  = 5500 ;Envelop
;IAN_36 ANA_IN_08_Min  = 4500 ;Envelop
;IAN_06 ANA_IN_05_Max  = 5500 ;Envelop
;IAN_06 ANA_IN_05_Min  = 4500 ;Envelop
;IAN_17 ANA_IN_06_Max  = 5500 ;Envelop
;IAN_17 ANA_IN_06_Min  = 4500 ;Envelop
;IAN_30 ANA_IN_30_Max  = 5500 ;Envelop
;IAN_30 ANA_IN_30_Min  = 4500 ;Envelop
;IAN_23 ANA_IN_25_Max  = 5500 ;Envelop
;IAN_23 ANA_IN_25_Min  = 4500 ;Envelop
;IAN_22 ANA_IN_24_Max  = 5500 ;Envelop
;IAN_22 ANA_IN_24_Min  = 4500 ;Envelop
;IAN_31 ANA_IN_31_Max  = 5500 ;Envelop
;IAN_31 ANA_IN_31_Min  = 4500 ;Envelop
;IAN_19 ANA_IN_21_Max  = 5500 ;Envelop
;IAN_19 ANA_IN_21_Min  = 4500 ;Envelop
;IAN_09 ANA_IN_17_Max  = 5500 ;Envelop
;IAN_09 ANA_IN_17_Min  = 4500 ;Envelop
;IAN_39 ANA_IN_11_Max = 5500 ;Envelop
;IAN_39 ANA_IN_11_Min = 4500 ;Envelop
;IAN_35 ANA_IN_35_Max = 5500 ;Envelop
;IAN_35 ANA_IN_35_Min = 4500 ;Envelop
;ID_20 DIG_IN_14_Max  = 5500 ;Envelop
;ID_20 DIG_IN_14_Min  = 4500 ;Envelop

[Analog Input Type-1_2]
IAN_16 ANA_IN_20_Max  = 3630
IAN_16 ANA_IN_20_Min  = 2970
IAN_15 ANA_IN_19_Max  = 3630
IAN_15 ANA_IN_19_Min  = 2970
IAN_02 ANA_IN_02_Max  = 3630
IAN_02 ANA_IN_02_Min  = 2970
IAN_29 ANA_IN_29_Max  = 3630
IAN_29 ANA_IN_29_Min  = 2970
IAN_28 ANA_IN_28_Max  = 3630
IAN_28 ANA_IN_28_Min  = 2970
;IAN_04 ANA_IN_04_Max  = 3630 ;Envelop
;IAN_04 ANA_IN_04_Min  = 2970 ;Envelop
;IAN_03 ANA_IN_03_Max  = 3630 ;Envelop
;IAN_03 ANA_IN_03_Min  = 2970 ;Envelop
;IAN_37 ANA_IN_09_Max  = 3630 ;Envelop
;IAN_37 ANA_IN_09_Min  = 2970 ;Envelop
;IAN_36 ANA_IN_08_Max  = 3630 ;Envelop
;IAN_36 ANA_IN_08_Min  = 2970 ;Envelop
;IAN_06 ANA_IN_05_Max  = 3630 ;Envelop
;IAN_06 ANA_IN_05_Min  = 2970 ;Envelop
;IAN_17 ANA_IN_06_Max  = 3630 ;Envelop
;IAN_17 ANA_IN_06_Min  = 2970 ;Envelop
;IAN_30 ANA_IN_30_Max  = 3630 ;Envelop
;IAN_30 ANA_IN_30_Min  = 2970 ;Envelop
;IAN_23 ANA_IN_25_Max  = 3630 ;Envelop
;IAN_23 ANA_IN_25_Min  = 2970 ;Envelop
;IAN_22 ANA_IN_24_Max  = 3630 ;Envelop
;IAN_22 ANA_IN_24_Min  = 2970 ;Envelop
;IAN_31 ANA_IN_31_Max  = 3630 ;Envelop
;IAN_31 ANA_IN_31_Min  = 2970 ;Envelop
;IAN_19 ANA_IN_21_Max  = 3630 ;Envelop
;IAN_19 ANA_IN_21_Min  = 2970 ;Envelop
;IAN_09 ANA_IN_17_Max  = 3630 ;Envelop
;IAN_09 ANA_IN_17_Min  = 2970 ;Envelop
;IAN_39 ANA_IN_11_Max = 3630 ;Envelop
;IAN_39 ANA_IN_11_Min = 2970 ;Envelop
;IAN_35 ANA_IN_35_Max = 3630 ;Envelop
;IAN_35 ANA_IN_35_Min = 2970 ;Envelop
;ID_20 DIG_IN_14_Max  = 3630 ;Envelop
;ID_20 DIG_IN_14_Min  = 2970 ;Envelop

[Analog Input Type-1_3]
IAN_16 ANA_IN_20_Max  = 1980
IAN_16 ANA_IN_20_Min  = 1620
IAN_15 ANA_IN_19_Max  = 1980
IAN_15 ANA_IN_19_Min  = 1620
IAN_02 ANA_IN_02_Max  = 1980
IAN_02 ANA_IN_02_Min  = 1620
IAN_29 ANA_IN_29_Max  = 1980
IAN_29 ANA_IN_29_Min  = 1620
IAN_28 ANA_IN_28_Max  = 1980
IAN_28 ANA_IN_28_Min  = 1620
;IAN_04 ANA_IN_04_Max  = 1980 ;Envelop
;IAN_04 ANA_IN_04_Min  = 1620 ;Envelop
;IAN_03 ANA_IN_03_Max  = 1980 ;Envelop
;IAN_03 ANA_IN_03_Min  = 1620 ;Envelop
;IAN_37 ANA_IN_09_Max  = 1980 ;Envelop
;IAN_37 ANA_IN_09_Min  = 1620 ;Envelop
;IAN_36 ANA_IN_08_Max  = 1980 ;Envelop
;IAN_36 ANA_IN_08_Min  = 1620 ;Envelop
;IAN_06 ANA_IN_05_Max  = 1980 ;Envelop
;IAN_06 ANA_IN_05_Min  = 1620 ;Envelop
;IAN_17 ANA_IN_06_Max  = 1980 ;Envelop
;IAN_17 ANA_IN_06_Min  = 1620 ;Envelop
;IAN_30 ANA_IN_30_Max  = 1980 ;Envelop
;IAN_30 ANA_IN_30_Min  = 1620 ;Envelop
;IAN_23 ANA_IN_25_Max  = 1980 ;Envelop
;IAN_23 ANA_IN_25_Min  = 1620 ;Envelop
;IAN_22 ANA_IN_24_Max  = 1980 ;Envelop
;IAN_22 ANA_IN_24_Min  = 1620 ;Envelop
;IAN_31 ANA_IN_31_Max  = 1980 ;Envelop
;IAN_31 ANA_IN_31_Min  = 1620 ;Envelop
;IAN_19 ANA_IN_21_Max  = 1980 ;Envelop
;IAN_19 ANA_IN_21_Min  = 1620 ;Envelop
;IAN_09 ANA_IN_17_Max  = 1980 ;Envelop
;IAN_09 ANA_IN_17_Min  = 1620 ;Envelop
;IAN_39 ANA_IN_11_Max = 1980 ;Envelop
;IAN_39 ANA_IN_11_Min = 1620 ;Envelop
;IAN_35 ANA_IN_35_Max = 1980 ;Envelop
;IAN_35 ANA_IN_35_Min = 1620 ;Envelop
;ID_20 DIG_IN_14_Max  = 1980 ;Envelop
;ID_20 DIG_IN_14_Min  = 1620 ;Envelop

[Analog Input Type-2_1]
IAN_41 ANA_IN_12_Max  = 3774.1
IAN_41 ANA_IN_12_Min  = 3087.9
IAN_38 ANA_IN_10_Max  = 5005
IAN_38 ANA_IN_10_Min  = 4095
;IAN_45 ANA_IN_15_Max  = 0 ;Envelop
;IAN_45 ANA_IN_15_Min  = 0 ;Envelop
;IAN_33 ANA_IN_33_Max  = 0 ;Envelop
;IAN_33 ANA_IN_33_Min  = 0 ;Envelop
;IAN_43 ANA_IN_13_Max = 0 ;Envelop
;IAN_43 ANA_IN_13_Min = 0 ;Envelop

[Analog Input Type-2_2]
IAN_41 ANA_IN_12_Max  = 1322.2
IAN_41 ANA_IN_12_Min  = 1081.8
IAN_38 ANA_IN_10_Max  = 3269.2
IAN_38 ANA_IN_10_Min  = 2674.8
;IAN_45 ANA_IN_15_Max  = 0 ;Envelop
;IAN_45 ANA_IN_15_Min  = 0 ;Envelop
;IAN_33 ANA_IN_33_Max  = 0 ;Envelop
;IAN_33 ANA_IN_33_Min  = 0 ;Envelop
;IAN_43 ANA_IN_13_Max = 0 ;Envelop
;IAN_43 ANA_IN_13_Min = 0 ;Envelop

[Analog Input Type-2_3]
IAN_41 ANA_IN_12_Max  = 554.4
IAN_41 ANA_IN_12_Min  = 453.6
IAN_38 ANA_IN_10_Max  = 1768.8
IAN_38 ANA_IN_10_Min  = 1447.2
;IAN_45 ANA_IN_15_Max  = 0 ;Envelop
;IAN_45 ANA_IN_15_Min  = 0 ;Envelop
;IAN_33 ANA_IN_33_Max  = 0 ;Envelop
;IAN_33 ANA_IN_33_Min  = 0 ;Envelop
;IAN_43 ANA_IN_13_Max = 0 ;Envelop
;IAN_43 ANA_IN_13_Min = 0 ;Envelop


[Digital Output Single]
IAN_01 ANA_IN_01 = 1
ID_01  DIG_IN_01 = 1
IAN_46 ANA_IN_16 = 1
;ID_16  DIG_IN_11 = 1
ID_28  DIG_IN_26 = 1
ID_23  DIG_IN_22 = 1
ID_29  DIG_IN_27 = 1
ID_46  DIG_IN_19 = 1
ID_35  DIG_IN_32 = 1
ID_34  DIG_IN_31 = 1
ID_22  DIG_IN_15 = 1
IAN_44 ANA_IN_14 = 1
ID_30  DIG_IN_16 = 1
IAN_21 ANA_IN_23 = 2
ID_37  DIG_IN_18 = 2
;ID_14 DIG_IN_09  = 1 ;Envelop
;ID_15 DIG_IN_10  = 1 ;Envelop
;ID_10 DIG_IN_07  = 1 ;Envelop
;ID_18 DIG_IN_13  = 1 ;Envelop
;ID_17 DIG_IN_12  = 1 ;Envelop
;ID_07 DIG_IN_04  = 1 ;Envelop
;ID_04 DIG_IN_20  = 1 ;Envelop
;ID_05 DIG_IN_02  = 1 ;Envelop
;ID_06 DIG_IN_03  = 1 ;Envelop
;ID_12 DIG_IN_08  = 1 ;Envelop
;ID_24 DIG_IN_23  = 1 ;Envelop
;ID_38 DIG_IN_33  = 1 ;Envelop
;ID_21 DIG_IN_21  = 1 ;Envelop
;ID_36 DIG_IN_17  = 1 ;Envelop
;ID_33 DIG_IN_30 = 1 ;Envelop
;ID_25 DIG_IN_24 = 1 ;Envelop

[Digital Output Cross]
ID_09  DIG_IN_06  = 1
ID_41  DIG_IN_36  = 1
ID_26  DIG_IN_25  = 1
ID_39  DIG_IN_34  = 1
ID_40  DIG_IN_35  = 1
IAN_24 ANA_IN_26  = 1
ID_42  DIG_IN_37  = 1
ID_44  DIG_IN_39  = 1
ID_08  DIG_IN_05  = 1
IAN_18 ANA_IN_07  = 1
ID_45  DIG_IN_40  = 1
ID_43  DIG_IN_38  = 1
IAN_20 ANA_IN_22  = 1
IAN_12 ANA_IN_18  = 1
;IAN_27 ANA_IN_27 = 1 ;Envelop
;ID_31 DIG_IN_28  = 1 ;Envelop
;ID_32 DIG_IN_29  = 1 ;Envelop

[Digital Output Interlock_2]
IAN_32 = 1

[Digital Output Interlock_3]
IAN_34 = 1

[Digital Output Interlock_4]
IAN_32 = 2

[Digital Output Interlock_5]
IAN_34 = 2

[Interlock_1]
M_IN_INLK_RET_Max = 3520
M_IN_INLK_RET_Min = 2880
M_IN_INLK_SRC_Max = 3850
M_IN_INLK_SRC_Min = 3150

[Interlock_2]
M_IN_INLK_RET_Max = 82
M_IN_INLK_RET_Min = 0
M_IN_INLK_SRC_Max = 82
M_IN_INLK_SRC_Min = 0

[Interlock_3]
M_IN_INLK_RET_Max = 82
M_IN_INLK_RET_Min = 0
M_IN_INLK_SRC_Max = 302.5
M_IN_INLK_SRC_Min = 247.5

[Interlock_4]
M_IN_INLK_RET_Max = 5500
M_IN_INLK_RET_Min = 4500
M_IN_INLK_SRC_Max = 5500
M_IN_INLK_SRC_Min = 4500

[Interlock_5]
M_IN_INLK_RET_Max = 5500
M_IN_INLK_RET_Min = 4500
M_IN_INLK_SRC_Max = 5500
M_IN_INLK_SRC_Min = 4500

[Interlock_6]
M_IN_INLK_RET_Max = 82
M_IN_INLK_RET_Min = 0
M_IN_INLK_SRC_Max = 5500
M_IN_INLK_SRC_Min = 4500

[eFuse Driver]
ODHE_09_EFUSE_5_Max  = 237.8
ODHE_09_EFUSE_5_Min  = 194.6
ODHE_10_EFUSE_8_Max  = 105.0
ODHE_10_EFUSE_8_Min  = 85.9
ODHE_13_EFUSE_26_Max = 105.0
ODHE_13_EFUSE_26_Min = 85.9
ODHE_14_EFUSE_3_Max  = 162.7
ODHE_14_EFUSE_3_Min  = 133.1
ODHE_16_EFUSE_12_Max = 344.2
ODHE_16_EFUSE_12_Min = 281.6
ODHE_17_EFUSE_15_Max = 304.1
ODHE_17_EFUSE_15_Min = 248.8
ODHE_20_EFUSE_13_Max = 230.4
ODHE_20_EFUSE_13_Min = 188.5
ODHE_21_EFUSE_16_Max = 231.9
ODHE_21_EFUSE_16_Min = 189.7
ODHE_24_EFUSE_14_Max = 183.7
ODHE_24_EFUSE_14_Min = 150.3
ODHE_25_EFUSE_17_Max = 251.5
ODHE_25_EFUSE_17_Min = 205.8
ODHE_26_EFUSE_20_Max = 205.8
ODHE_26_EFUSE_20_Min = 168.4
ODHE_27_EFUSE_23_Max = 333.8
ODHE_27_EFUSE_23_Min = 273.1
ODHE_29_EFUSE_10_Max = 196.9    ;unpopulated
ODHE_29_EFUSE_10_Min = 161.1    ;unpopulated
ODHE_30_EFUSE_4_Max  = 192.3    ;unpopulated
ODHE_30_EFUSE_4_Min  = 157.3    ;unpopulated
ODHE_31_EFUSE_1_Max  = 105.0
ODHE_31_EFUSE_1_Min  = 85.9
ODHE_33_EFUSE_9_Max  = 298.6
ODHE_33_EFUSE_9_Min  = 244.3
;ODHE_06_FUSE_25_Max  = 344.2    ;Envelop
;ODHE_06_FUSE_25_Min  = 281.6    ;Envelop
;ODHE_07_EFUSE_7_Max  = 344.2    ;Envelop
;ODHE_07_EFUSE_7_Min  = 281.6    ;Envelop
;ODHE_08_EFUSE_2_Max  = 252.1    ;Envelop
;ODHE_08_EFUSE_2_Min  = 206.3    ;Envelop
;ODHE_11_EFUSE_27_Max = 344.2    ;Envelop
;ODHE_11_EFUSE_27_Min = 281.6    ;Envelop
;ODHE_12_EFUSE_6_Max  = 344.2    ;Envelop
;ODHE_12_EFUSE_6_Min  = 281.6    ;Envelop
;ODHE_15_EFUSE_28_Max = 344.2    ;Envelop
;ODHE_15_EFUSE_28_Min = 281.6    ;Envelop
;ODHE_18_EFUSE_18_Max = 344.2    ;Envelop
;ODHE_18_EFUSE_18_Min = 281.6    ;Envelop
;ODHE_19_EFUSE_21_Max = 344.2    ;Envelop
;ODHE_19_EFUSE_21_Min = 281.6    ;Envelop
;ODHE_22_EFUSE_19_Max = 299.2    ;Envelop
;ODHE_22_EFUSE_19_Min = 244.8    ;Envelop
;ODHE_23_EFUSE_22_Max = 299.2    ;Envelop
;ODHE_23_EFUSE_22_Min = 244.8    ;Envelop
;ODHE_28_EFUSE_24_Max = 344.2    ;Envelop
;ODHE_28_EFUSE_24_Min = 281.6    ;Envelop
;ODHE_32_EFUSE_11_Max = 260.4    ;Envelop
;ODHE_32_EFUSE_11_Min = 213.1    ;Envelop

[High Side Driver]
ODH_03_HSD_H5_0_Max   = 471.9
ODH_03_HSD_H5_0_Min   = 386.1
ODH_04_HSD_H4_4_Max   = 168.8
ODH_04_HSD_H4_4_Min   = 138.1
ODH_06_HSD_H1_5_Max   = 168.8
ODH_06_HSD_H1_5_Min   = 138.1
ODH_07_HSD_H1_1_Max   = 56.1
ODH_07_HSD_H1_1_Min   = 45.9
ODH_08_HSD_H1_0_Max   = 471.9
ODH_08_HSD_H1_0_Min   = 386.1
ODH_09_HSD_H1_2_Max   = 56.1
ODH_09_HSD_H1_2_Min   = 45.9
ODH_106_HSD_D12_0_Max = 168.8
ODH_106_HSD_D12_0_Min = 138.1
ODH_109_HSD_D3_0_Max  = 168.8
ODH_109_HSD_D3_0_Min  = 138.1
ODH_111_HSD_H4_5_Max  = 473.2
ODH_111_HSD_H4_5_Min  = 387.2
ODH_112_HSD_H2_5_Max  = 168.8
ODH_112_HSD_H2_5_Min  = 138.1
ODH_113_HSD_D12_1_Max = 168.8
ODH_113_HSD_D12_1_Min = 138.1
ODH_120_HSD_D2_0_Max  = 562.6
ODH_120_HSD_D2_0_Min  = 460.3  ;unpopulated
ODH_129_HSD_D15_1_Max = 294.6
ODH_129_HSD_D15_1_Min = 241.1
ODH_131_HSD_D13_1_Max = 176.0
ODH_131_HSD_D13_1_Min = 144.0
ODH_132_HSD_D22_0_Max = 853.9
ODH_132_HSD_D22_0_Min = 698.7
ODH_133_HSD_D15_0_Max = 886.5
ODH_133_HSD_D15_0_Min = 725.3
ODH_135_HSD_D1_0_Max  = 473.2
ODH_135_HSD_D1_0_Min  = 387.2
ODH_136_HSD_D14_1_Max = 280.3
ODH_136_HSD_D14_1_Min = 229.3
ODH_139_HSD_D1_1_Max  = 473.2
ODH_139_HSD_D1_1_Min  = 387.2
ODH_14_HSD_H3_3_Max   = 158.4
ODH_14_HSD_H3_3_Min   = 129.6
ODH_140_HSD_D2_1_Max  = 697.5
ODH_140_HSD_D2_1_Min  = 570.7
ODH_141_HSD_D9_1_Max  = 455.6
ODH_141_HSD_D9_1_Min  = 372.8
ODH_142_HSD_D16_1_Max = 562.6
ODH_142_HSD_D16_1_Min = 460.3
ODH_143_HSD_H4_3_Max  = 316.8
ODH_143_HSD_H4_3_Min  = 259.2
ODH_144_HSD_H6_1_Max  = 520.8
ODH_144_HSD_H6_1_Min  = 426.1
ODH_146_HSD_D9_1_Max  = 584.1
ODH_146_HSD_D9_1_Min  = 477.9
ODH_148_HSD_18_Max    = 294.6
ODH_148_HSD_18_Min    = 241.1
ODH_149_HSD_17_Max    = 277.0
ODH_149_HSD_17_Min    = 226.7
ODH_152_HSD_D10_0_Max = 562.6  ;unpopulated
ODH_152_HSD_D10_0_Min = 460.3  ;unpopulated
ODH_153_HSD_20_Max    = 245.8
ODH_153_HSD_20_Min    = 201.1
ODH_155_HSD_H2_4_Max  = 168.8
ODH_155_HSD_H2_4_Min  = 138.1
ODH_156_HSD_H1_4_Max  = 168.8
ODH_156_HSD_H1_4_Min  = 138.1
ODH_158_HSD_Q1_0_Max  = 168.8
ODH_158_HSD_Q1_0_Min  = 138.1
ODH_159_HSD_D8_0_Max  = 294.6
ODH_159_HSD_D8_0_Min  = 241.1
ODH_163_HSD_Q1_3_Max  = 168.8
ODH_163_HSD_Q1_3_Min  = 138.1
ODH_166_HSD_Q3_0_Max  = 472.6
ODH_166_HSD_Q3_0_Min  = 386.7
ODH_173_HSD_H6_4_Max  = 168.8
ODH_173_HSD_H6_4_Min  = 138.1
ODH_174_HSD_H3_5_Max  = 167.5
ODH_174_HSD_H3_5_Min  = 137.1
ODH_176_HSD_Q3_3_Max  = 472.6
ODH_176_HSD_Q3_3_Min  = 386.7
ODH_18_HSD_H3_4_Max   = 945.2
ODH_18_HSD_H3_4_Min   = 773.3
ODH_19_HSD_H6_2_Max   = 316.8
ODH_19_HSD_H6_2_Min   = 259.2
ODH_21_HSD_H6_3_Max   = 158.4
ODH_21_HSD_H6_3_Min   = 129.6
ODH_23_HSD_H6_0_Max   = 944.5
ODH_23_HSD_H6_0_Min   = 772.8
ODH_30_HSD_H2_3_Max   = 56.1
ODH_30_HSD_H2_3_Min   = 45.9
ODH_32_HSD_H2_0_Max   = 167.5
ODH_32_HSD_H2_0_Min   = 137.1
ODH_33_HSD_D25_1_Max  = 352.0
ODH_33_HSD_D25_1_Min  = 288.0
ODH_38_HSD_D23_0_Max  = 280.3
ODH_38_HSD_D23_0_Min  = 229.3
ODH_40_HSD_D23_1_Max  = 280.3
ODH_40_HSD_D23_1_Min  = 229.3
ODH_41_HSD_H4_0_Max   = 471.9
ODH_41_HSD_H4_0_Min   = 386.1
ODH_42_HSD_H5_4_Max   = 473.2
ODH_42_HSD_H5_4_Min   = 387.2
ODH_43_HSD_H5_5_Max   = 473.2
ODH_43_HSD_H5_5_Min   = 387.2
ODH_44_HSD_H2_2_Max   = 56.1
ODH_44_HSD_H2_2_Min   = 45.9
ODH_47_HSD_H5_3_Max   = 486.3
ODH_47_HSD_H5_3_Min   = 397.9
ODH_49_HSD_H5_2_Max   = 520.8
ODH_49_HSD_H5_2_Min   = 426.1
ODH_50_HSD_19_Max     = 559.9
ODH_50_HSD_19_Min     = 458.1
ODH_53_HSD_D6_1_Max   = 273.1
ODH_53_HSD_D6_1_Min   = 223.5
ODH_55_HSD_D5_0_Max   = 578.8
ODH_55_HSD_D5_0_Min   = 473.6
ODH_64_HSD_Q3_1_Max   = 472.6
ODH_64_HSD_Q3_1_Min   = 386.7
ODH_66_HSD_H4_1_Max   = 475.2
ODH_66_HSD_H4_1_Min   = 388.8
ODH_66B_HSD_D11_1_Max = 276.4
ODH_66B_HSD_D11_1_Min = 226.1
ODH_84_HSD_D4_1_Max   = 578.8
ODH_84_HSD_D4_1_Min   = 473.6
ODH_92_HSD_21_Max     = 600.5
ODH_92_HSD_21_Min     = 491.3
ODH_93_HSD_Q1_1_Max   = 472.6
ODH_93_HSD_Q1_1_Min   = 386.7
ODH_94_HSD_D8_1_Max   = 176.0
ODH_94_HSD_D8_1_Min   = 144.0
;ODH_01_HSD_D5_1_Max   = 578.8  ;Envelop
;ODH_01_HSD_D5_1_Min   = 473.6  ;Envelop
;ODH_100_HSD_H4_2_Max  = 762.7  ;Envelop
;ODH_100_HSD_H4_2_Min  = 624.0  ;Envelop
;ODH_103A_HSD_H3_0_Max = 158.4  ;Envelop
;ODH_103A_HSD_H3_0_Min = 129.6  ;Envelop
;ODH_107_HSD_H2_1_Max  = 56.1   ;Envelop
;ODH_107_HSD_H2_1_Min  = 45.9   ;Envelop
;ODH_117_HSD_D13_0_Max = 998.5  ;Envelop
;ODH_117_HSD_D13_0_Min = 817.0  ;Envelop
;ODH_118_HSD_D16_0_Max = 562.6  ;Envelop
;ODH_118_HSD_D16_0_Min = 460.3  ;Envelop
;ODH_122_HSD_D25_0_Max = 573.6  ;Envelop
;ODH_122_HSD_D25_0_Min = 469.3  ;Envelop
;ODH_123_HSD_D24_0_Max = 168.8  ;Envelop
;ODH_123_HSD_D24_0_Min = 138.1  ;Envelop
;ODH_127_HSD_D14_0_Max = 280.3  ;Envelop
;ODH_127_HSD_D14_0_Min = 229.3  ;Envelop
;ODH_130_HSD_D8_1_Max  = 528.0  ;Envelop
;ODH_130_HSD_D8_1_Min  = 432.0  ;Envelop
;ODH_157_HSD_Q1_2_Max  = 168.8  ;Envelop
;ODH_157_HSD_Q1_2_Min  = 138.1  ;Envelop
;ODH_158_HSD_Q1_0_Max  = 168.8  ;Envelop
;ODH_158_HSD_Q1_0_Min  = 138.1  ;Envelop
;ODH_16_HSD_H3_1_Max   = 158.4  ;Envelop
;ODH_16_HSD_H3_1_Min   = 129.6  ;Envelop
;ODH_167_HSD_Q3_2_Max  = 525.4  ;Envelop
;ODH_167_HSD_Q3_2_Min  = 429.9  ;Envelop
;ODH_172_HSD_Q2_2_Max  = 168.8  ;Envelop
;ODH_172_HSD_Q2_2_Min  = 138.1  ;Envelop
;ODH_175_HSD_D3_1_Max  = 168.8  ;Envelop
;ODH_175_HSD_D3_1_Min  = 138.1  ;Envelop
;ODH_35_HSD_D24_1_Max  = 473.2  ;Envelop
;ODH_35_HSD_D24_1_Min  = 387.2  ;Envelop
;ODH_62_HSD_Q2_0_Max   = 472.6  ;Envelop
;ODH_62_HSD_Q2_0_Min   = 386.7  ;Envelop
;ODH_63_HSD_Q2_1_Max   = 472.6  ;Envelop
;ODH_63_HSD_Q2_1_Min   = 386.7  ;Envelop
;ODH_84_HSD_D4_1_Max   = 578.8  ;Envelop
;ODH_84_HSD_D4_1_Min   = 473.6  ;Envelop
;ODH_85_HSD_D10_1_Max  = 562.6  ;Envelop
;ODH_85_HSD_D10_1_Min  = 460.3  ;Envelop
;ODH_86_HSD_H3_2_Max   = 316.8  ;Envelop
;ODH_86_HSD_H3_2_Min   = 259.2  ;Envelop
;ODH_89_HSD_D4_0_Max   = 329.2  ;Envelop
;ODH_89_HSD_D4_0_Min   = 269.3  ;Envelop
;ODH_90_HSD_H5_1_Max   = 475.2  ;Envelop
;ODH_90_HSD_H5_1_Min   = 388.8  ;Envelop
;ODH_91B_HSD_D22_1_Max = 136.2  ;Envelop
;ODH_91B_HSD_D22_1_Min = 111.5  ;Envelop
;ODH_91A_HSD_D11_0_Max = 513.7  ;Envelop
;ODH_91A_HSD_D11_0_Min = 420.3  ;Envelop
;ODH_94_HSD_D9_0_Max   = 176.0  ;Envelop
;ODH_94_HSD_D9_0_Min   = 144.0  ;Envelop
;ODH_95_HSD_D6_0_Max   = 473.2  ;Envelop
;ODH_95_HSD_D6_0_Min   = 387.2  ;Envelop
;ODH_96_HSD_D7_0_Max   = 294.6  ;Envelop
;ODH_96_HSD_D7_0_Min   = 241.1  ;Envelop
;ODH_10_HSD_H1_3_Max   = 158.4  ;NA
;ODH_10_HSD_H1_3_Min   = 129.6  ;NA

[Low Side Driver]
;OL_03_LSD_5_Max = 0.20
;OL_03_LSD_5_Min = 0.12
;OL_04_LSD_6_Max = 0.20
;OL_04_LSD_6_Min = 0.12
;OL_05_LSD_4_Max = 0.30
;OL_05_LSD_4_Min = 0.22
;OL_01_LSD_7_Max = 0 ;Envelop
;OL_01_LSD_7_Min = 0 ;Envelop
;OL_02_LSD_3_Max = 0 ;Envelop
;OL_02_LSD_3_Min = 0 ;Envelop

[H-Bridge Driver]
OMH01_1_FBR_01_1_Max  = 528.6
OMH01_1_FBR_01_1_Min  = 432.5
OMH01_2_FBR_01_2_Max  = 532.6
OMH01_2_FBR_01_2_Min  = 435.7
OMHb01_B_HBR_02_2_Max = 529.3
OMHb01_B_HBR_02_2_Min = 433.1
OMHb02_B_HBR_03_1_Max = 396.8
OMHb02_B_HBR_03_1_Min = 324.6
OMHb03_B_HBR_02_1_Max = 535.6
OMHb03_B_HBR_02_1_Min = 438.2
OMHb05_B_HBR_01_1_Max = 394.8
OMHb05_B_HBR_01_1_Min = 323.0
;OMHb04_B_HBR_03_2_Max = 810.2  ;Envelop
;OMHb04_B_HBR_03_2_Min = 662.9  ;Envelop
;OMHb06_B_HBR_01_2_Max = 396.8  ;Envelop
;OMHb06_B_HBR_01_2_Min = 324.6  ;Envelop