;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S3 - ZCU Cacin
; Creator：Wendy Li / Sam Chu
; Create Date：2026/03/02
; Note：
; For ZCU_Cabin 3.3.0 driving mode
;
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********
[Error Code]
CAN             = ZCUCA01
LIN             = ZCULI01
H-bridge        = ZCUHB01
LSD             = ZCUL001
HSD             = ZCUH001
eFuse           = ZCUE001
Power Blue      = ZCUPB01
Power Red       = ZCUPR02
Interlock input = ZCUIN01
Analog VREF     = ZCUAN01
Analog In input = ZCUAN01
Digital I/O     = ZCUDI01

[CAN]
; As EOL Test
CAN02-- = 1
CAN03-- = 1
CAN04-- = 1
CAN05-- = 1
CAN06-- = 1
CAN13-- = 1
CANWK-- = 1
CANVA-- = 1
CAN12-- = 1;Envelop

[LIN]
; As EOL Test
LIN01-- = 1
LIN03-- = 1
LIN04-- = 1
LIN05-- = 1
LIN06-- = 1;Envelop
LIN07-- = 1
LIN08-- = 1
LIN09-- = 1

[CAN Error]
; 0x00000000: Indicates the absence of errors on the CAN network.
; 0x00000001: Indicates the presence of one error on ERR Pin.
CAN02             = 0
CAN03             = 0
CAN04             = 0
CAN05             = 0
CAN06             = 0
CAN13          	  = 0
CAN12             = 0
COM_FD_CAN_WAKE			  = 0
COM_FD_CAN_VEH_ACCESS			  = 0

[Interlock Feedback]
; Interlock Cross
M_IN_INLK_RET_Max = 3520
M_IN_INLK_RET_Min = 2880
M_IN_INLK_SRC_Max = 3850
M_IN_INLK_SRC_Min = 3150

[Internal Voltages References]
; These monitored feedbacks are related to internal analog values
; 0x0B
VCC_5V_VDDM_Max = 5497.8
VCC_5V_VDDM_Min = 4498.2
; 0x0C
M_AD_REF_KL30_Y_Max    = 2510.55
M_AD_REF_KL30_Y_Min    = 2271.45
; 0x0D
M_AD_REF_KL30_BL_Max   = 2510.55
M_AD_REF_KL30_BL_Min   = 2271.45
; 0x0E
M_AD_REF_KL30_RD_Max   = 2510.55
M_AD_REF_KL30_RD_Min   = 2271.45
; 0x0F
;VBAT_LIMP_Max         = 2600//need HW comfirm
;VBAT_LIMP_Min         = 2400
; 0x10
M_AD_NTC_1_Max         = 2750
M_AD_NTC_1_Min         = 1810
; 0x11
M_AD_NTC_2_Max         = 2750
M_AD_NTC_2_Min         = 1810
; 0x12
M_AD_NTC_3_Max         = 2750
M_AD_NTC_3_Min         = 1810


[Analog Inputs-type1]
; 5.0V
IAN_16 ANA_IN_20_Max  = 5500
IAN_16 ANA_IN_20_Min  = 4500
IAN_15 ANA_IN_19_Max  = 5500
IAN_15 ANA_IN_19_Min  = 4500
IAN_02 ANA_IN_02_Max  = 5500
IAN_02 ANA_IN_02_Min  = 4500
IAN_29 ANA_IN_29_Max  = 5500
IAN_29 ANA_IN_29_Min  = 4500
IAN_28 ANA_IN_28_Max  = 5500
IAN_28 ANA_IN_28_Min  = 4500
;IAN_04 ANA_IN_04_Max  = 5500 ;Envelop
;IAN_04 ANA_IN_04_Min  = 4500 ;Envelop


[Analog Inputs-type2]
; 4.7k Ohm
IAN_41 ANA_IN_12_Max  = 3774.1
IAN_41 ANA_IN_12_Min  = 3087.9
IAN_38 ANA_IN_10_Max  = 5005
IAN_38 ANA_IN_10_Min  = 4095
;IAN_45 ANA_IN_15_Max  = 0 ;Envelop
;IAN_45 ANA_IN_15_Min  = 0 ;Envelop
;IAN_43 ANA_IN_13_Max = 0 ;Envelop
;IAN_43 ANA_IN_13_Min = 0 ;Envelop



[Digital Inputs]
ID_09  DIG_IN_06  = 1
ID_41  DIG_IN_36  = 1
ID_26  DIG_IN_25  = 1
ID_39  DIG_IN_34  = 1
ID_40  DIG_IN_35  = 1
IAN_24 ANA_IN_26  = 1
ID_42  DIG_IN_37  = 1
ID_44  DIG_IN_39  = 1
ID_08  DIG_IN_05  = 1
IAN_18 ANA_IN_07  = 1
ID_45  DIG_IN_40  = 1
ID_43  DIG_IN_38  = 1
IAN_20 ANA_IN_22  = 1
IAN_12 ANA_IN_18  = 1
IAN_32 ANA_IN_32  = 1
IAN_34 ANA_IN_34  = 1
ID_38 DIG_IN_33   = 1
;ID_31 DIG_IN_28  = 1 ;Envelop

ID_01  DIG_IN_01 = 1
IAN_46 ANA_IN_16 = 1
ID_16  DIG_IN_11 = 1
ID_28  DIG_IN_26 = 1
ID_23  DIG_IN_22 = 1
ID_29  DIG_IN_27 = 1
ID_46  DIG_IN_19 = 1
ID_35  DIG_IN_32 = 1
ID_34  DIG_IN_31 = 1
ID_22  DIG_IN_15 = 1
IAN_44 ANA_IN_14 = 1
ID_30  DIG_IN_16 = 1
IAN_21 ANA_IN_23 = 1
ID_37  DIG_IN_18 = 1
;ID_07 DIG_IN_04  = 1 ;Envelop
;ID_06 DIG_IN_03  = 1 ;Envelop
;ID_36 DIG_IN_17  = 1 ;Envelop
;ID_33 DIG_IN_30  = 1 ;Envelop
;ID_32 DIG_IN_29  = 1 ;Envelop
;ID_ODH_46_RCD_WUP = 1 ;Envelop

[HSDs Sense]
ODH_03_HSD_H5_0_Max   = 796.4
ODH_03_HSD_H5_0_Min   = 651.6
ODH_04_HSD_H4_4_Max   = 284.9
ODH_04_HSD_H4_4_Min   = 233.1
ODH_06_HSD_H1_5_Max   = 284.9
ODH_06_HSD_H1_5_Min   = 233.1
ODH_07_HSD_H1_1_Max   = 94.6
ODH_07_HSD_H1_1_Min   = 77.4
ODH_08_HSD_H1_0_Max   = 796.4
ODH_08_HSD_H1_0_Min   = 651.6
ODH_09_HSD_H1_2_Max   = 94.6
ODH_09_HSD_H1_2_Min   = 77.4
ODH_10_HSD_H1_3_Max   =	267.3
ODH_10_HSD_H1_3_Min   =	218.7
;ODH_100_HSD_H4_2_Max  =	1287	;Envelop
;ODH_100_HSD_H4_2_Min  =	1053	;Envelop
;ODH_103A_HSD_H3_0_Max =	267.3	;Envelop
;ODH_103A_HSD_H3_0_Min =	218.7	;Envelop
ODH_106_HSD_D12_0_Max = 284.9
ODH_106_HSD_D12_0_Min = 233.1
;ODH_107_HSD_H2_1_Max  =	94.6	;Envelop
;ODH_107_HSD_H2_1_Min  =	77.4	;Envelop
ODH_109_HSD_D3_0_Max  = 284.9
ODH_109_HSD_D3_0_Min  = 233.1
ODH_111_HSD_H4_5_Max  = 798.6
ODH_111_HSD_H4_5_Min  = 653.4
ODH_112_HSD_H2_5_Max  = 284.9
ODH_112_HSD_H2_5_Min  = 233.1
ODH_113_HSD_D12_1_Max = 284.9
ODH_113_HSD_D12_1_Min = 233.1
ODH_120_HSD_D2_0_Max  = 367.4
ODH_120_HSD_D2_0_Min  = 300.6  ;B3.3 unpopulated
ODH_129_HSD_D15_1_Max = 497.2
ODH_129_HSD_D15_1_Min = 406.8
ODH_131_HSD_D13_1_Max = 297
ODH_131_HSD_D13_1_Min = 243
ODH_132_HSD_D22_0_Max = 1441
ODH_132_HSD_D22_0_Min = 1179
ODH_133_HSD_D15_0_Max = 1496
ODH_133_HSD_D15_0_Min = 1224
ODH_135_HSD_D1_0_Max  = 798.6 ;should be in B3.3high variant
ODH_135_HSD_D1_0_Min  = 653.4 ;should be in B3.3high variant
ODH_136_HSD_D14_1_Max = 473
ODH_136_HSD_D14_1_Min = 387
ODH_139_HSD_D1_1_Max  = 798.6 ;should be in B3.3high variant
ODH_139_HSD_D1_1_Min  = 653.4 ;should be in B3.3high variant
ODH_14_HSD_H3_3_Max   = 267.3
ODH_14_HSD_H3_3_Min   = 218.7
ODH_140_HSD_D2_1_Max  = 1177
ODH_140_HSD_D2_1_Min  = 963
ODH_141_HSD_D9_0_Max  = 768.9
ODH_141_HSD_D9_0_Min  = 629.1
ODH_142_HSD_D16_1_Max = 949.3
ODH_142_HSD_D16_1_Min = 776.7
ODH_143_HSD_H4_3_Max  = 534.6
ODH_143_HSD_H4_3_Min  = 437.4
ODH_144_HSD_H6_1_Max  = 878.9
ODH_144_HSD_H6_1_Min  = 719.1
ODH_146_HSD_D9_1_Max  = 985.6
ODH_146_HSD_D9_1_Min  = 806.4
ODH_148_HSD_18_Max    = 497.2
ODH_148_HSD_18_Min    = 406.8
ODH_149_HSD_17_Max    = 467.5
ODH_149_HSD_17_Min    = 382.5
ODH_152_HSD_D10_0_Max = 949.3  ;B3.3unpopulated
ODH_152_HSD_D10_0_Min = 300.6  ;B3.3unpopulated
ODH_153_HSD_20_Max    = 414.7
ODH_153_HSD_20_Min    = 339.3
ODH_155_HSD_H2_4_Max  = 284.9
ODH_155_HSD_H2_4_Min  = 233.1
ODH_156_HSD_H1_4_Max  = 284.9
ODH_156_HSD_H1_4_Min  = 233.1
;ODH_157_HSD_Q1_2_Max  =	284.9	;Envelop
;ODH_157_HSD_Q1_2_Min  =	233.1	;Envelop
ODH_158_HSD_Q1_0_Max  = 284.9
ODH_158_HSD_Q1_0_Min  = 233.1
ODH_159_HSD_D7_1_Max  = 497.2
ODH_159_HSD_D7_1_Min  = 406.8
;ODH_16_HSD_H3_1_Max   =	267.3	;Envelop
;ODH_16_HSD_H3_1_Min   =	218.7	;Envelop
ODH_163_HSD_Q1_3_Max  = 284.9
ODH_163_HSD_Q1_3_Min  = 233.1
ODH_166_HSD_Q3_0_Max  = 797.5
ODH_166_HSD_Q3_0_Min  = 652.5
ODH_173_HSD_H6_4_Max  = 284.9
ODH_173_HSD_H6_4_Min  = 233.1
ODH_174_HSD_H3_5_Max  = 282.7
ODH_174_HSD_H3_5_Min  = 231.3
;ODH_175_HSD_D3_1_Max  =	284.9	;Envelop
;ODH_175_HSD_D3_1_Min  =	233.1	;Envelop
ODH_176_HSD_Q3_3_Max  = 797.5
ODH_176_HSD_Q3_3_Min  = 652.5
ODH_18_HSD_H3_4_Max   = 1595
ODH_18_HSD_H3_4_Min   = 1305
ODH_19_HSD_H6_2_Max   = 534.6
ODH_19_HSD_H6_2_Min   = 437.4
ODH_21_HSD_H6_3_Max   = 267.3
ODH_21_HSD_H6_3_Min   = 218.7
ODH_23_HSD_H6_0_Max   = 1593.9
ODH_23_HSD_H6_0_Min   = 1304.1
ODH_30_HSD_H2_3_Max   = 96.9
ODH_30_HSD_H2_3_Min   = 79.3
ODH_32_HSD_H2_0_Max   = 282.7
ODH_32_HSD_H2_0_Min   = 231.3
ODH_33_HSD_D25_1_Max  = 594
ODH_33_HSD_D25_1_Min  = 486
ODH_38_HSD_D23_0_Max  = 473
ODH_38_HSD_D23_0_Min  = 387
ODH_40_HSD_D23_1_Max  = 473
ODH_40_HSD_D23_1_Min  = 387
ODH_41_HSD_H4_0_Max   = 796.4
ODH_41_HSD_H4_0_Min   = 651.6
ODH_42_HSD_H5_4_Max   = 798.6
ODH_42_HSD_H5_4_Min   = 653.4
ODH_43_HSD_H5_5_Max   = 798.6
ODH_43_HSD_H5_5_Min   = 653.4
ODH_44_HSD_H2_2_Max   = 94.6
ODH_44_HSD_H2_2_Min   = 77.4
ODH_47_HSD_H5_3_Max   = 820.6
ODH_47_HSD_H5_3_Min   = 671.4
ODH_49_HSD_H5_2_Max   = 878.9
ODH_49_HSD_H5_2_Min   = 719.1
ODH_50_HSD_19_Max     = 944.9
ODH_50_HSD_19_Min     = 773.1
ODH_53_HSD_D6_1_Max   = 460.9
ODH_53_HSD_D6_1_Min   = 377.1
ODH_55_HSD_D5_0_Max   = 976.8
ODH_55_HSD_D5_0_Min   = 799.2
ODH_64_HSD_Q3_1_Max   = 797.5
ODH_64_HSD_Q3_1_Min   = 652.5
ODH_66_HSD_H4_1_Max   = 801.9
ODH_66_HSD_H4_1_Min   = 656.1
ODH_66B_HSD_D11_1_Max = 466.4
ODH_66B_HSD_D11_1_Min = 381.6
ODH_84_HSD_D4_1_Max   = 976.8
ODH_84_HSD_D4_1_Min   = 799.2
;ODH_86_HSD_H3_2_Max   =	534.6	;Envelop
;ODH_86_HSD_H3_2_Min   =	437.4	;Envelop
;ODH_90_HSD_H5_1_Max   =	801.9	;Envelop
;ODH_90_HSD_H5_1_Min   =	656.1	;Envelop
ODH_92_HSD_21_Max     = 1013.1
ODH_92_HSD_21_Min     = 828.9
ODH_93_HSD_Q1_1_Max   = 797.5
ODH_93_HSD_Q1_1_Min   = 652.5
ODH_94_HSD_D8_1_Max   = 297
ODH_94_HSD_D8_1_Min   = 243
ODH_117_HSD_D13_0_Max =	1684.98	;Envelop
ODH_117_HSD_D13_0_Min =	1378.62	;Envelop
ODH_89_HSD_D4_0_Max   = 977.8   ;Envelop
ODH_89_HSD_D4_0_Min   = 800.0   ;Envelop

[LSDs Sense]
OL_03_LSD_5_Max = 0.20
OL_03_LSD_5_Min = 0.12
OL_04_LSD_6_Max = 0.20
OL_04_LSD_6_Min = 0.12
OL_05_LSD_4_Max = 0.30
OL_05_LSD_4_Min = 0.22

[H-BRIDGE Sense]
OMH01_1_FBR_01_1_Max  = 892.1
OMH01_1_FBR_01_1_Min  = 729.9
OMH01_2_FBR_01_2_Max  = 898.7
OMH01_2_FBR_01_2_Min  = 735.3
OMHb01_B_HBR_02_2_Max = 893.2
OMHb01_B_HBR_02_2_Min = 730.8
OMHb02_B_HBR_03_1_Max = 669.537
OMHb02_B_HBR_03_1_Min = 547.803
OMHb03_B_HBR_02_1_Max = 903.837
OMHb03_B_HBR_02_1_Min = 739.503
OMHb05_B_HBR_01_1_Max = 666.237
OMHb05_B_HBR_01_1_Min = 545.103
;OMHb04_B_HBR_03_2_Max = 1367.3  ;Envelop
;OMHb04_B_HBR_03_2_Min = 1118.7  ;Envelop
;OMHb06_B_HBR_01_2_Max = 669.537 ;Envelop
;OMHb06_B_HBR_01_2_Min = 547.803 ;Envelop

[eFUSE Sense]
ODHE_31_EFUSE_1_Max  = 177.1
ODHE_31_EFUSE_1_Min  = 144.9
ODHE_30_EFUSE_4_Max  = 324.5	;B3.3unpopulated
ODHE_30_EFUSE_4_Min  = 265.5	;B3.3unpopulated
ODHE_09_EFUSE_5_Max  = 401.28
ODHE_09_EFUSE_5_Min  = 328.32
ODHE_10_EFUSE_8_Max  = 177.1
ODHE_10_EFUSE_8_Min  = 144.9
ODHE_13_EFUSE_26_Max = 177.1
ODHE_13_EFUSE_26_Min = 144.9
ODHE_14_EFUSE_3_Max = 274.56
ODHE_14_EFUSE_3_Min = 224.64
ODHE_16_EFUSE_12_Max = 580.8
ODHE_16_EFUSE_12_Min = 475.2
ODHE_17_EFUSE_15_Max = 513.15
ODHE_17_EFUSE_15_Min = 419.85
ODHE_20_EFUSE_13_Max = 388.85
ODHE_20_EFUSE_13_Min = 318.15
ODHE_21_EFUSE_16_Max = 391.325
ODHE_21_EFUSE_16_Min = 320.175
ODHE_24_EFUSE_14_Max = 309.98
ODHE_24_EFUSE_14_Min = 253.62
ODHE_25_EFUSE_17_Max = 424.38
ODHE_25_EFUSE_17_Min = 347.22
ODHE_26_EFUSE_20_Max = 347.325
ODHE_26_EFUSE_20_Min = 284.175
ODHE_27_EFUSE_23_Max = 563.2
ODHE_27_EFUSE_23_Min = 460.8
ODHE_29_EFUSE_10_Max = 332.2	;B3.3unpopulated
ODHE_29_EFUSE_10_Min = 271.8	;B3.3unpopulated
ODHE_33_EFUSE_9_Max  = 503.8
ODHE_33_EFUSE_9_Min  = 412.2
ODHE_32_EFUSE_11_Max = 439.45	;Envelop
ODHE_32_EFUSE_11_Min = 359.55	;Envelop
ODHE_08_EFUSE_2_Max  = 9	;Envelop
ODHE_08_EFUSE_2_Min  = 5	;Envelop
ODHE_15_EFUSE_28_Max = 580.8	;Envelop
ODHE_15_EFUSE_28_Min = 475.2	;Envelop

[EEPROM]
; TBC
EEPROM ID      = 00-00-01-60-18
EEPROM CRC      = 00-00-01-60-18

[Flash]
; TBC
Flash ID      = 00-00-01-60-18
Flash CRC      = 00-00-01-60-18

[SBC]
SBC Status = 00-D4-06-42-03

[Undervoltage]
Undervoltage Event = 1
