;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S3 - ZCU Cacin
; Creator：Wendy Li / Sam Chu
; Create Date：2026/03/03
; Note：
; For ZCU_Cabin 3.3.0 driving mode and PVS 2.2
;
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********
[Error Code]
CAN             = ZCUCA01
LIN             = ZCULI01
H-bridge        = ZCUHB01
LSD             = ZCUL001
HSD             = ZCUH001
eFuse           = ZCUE001
Power Blue      = ZCUPB01
Power Red       = ZCUPR02
Interlock input = ZCUIN01
Analog VREF     = ZCUAN01
Analog In input = ZCUAN01
Digital I/O     = ZCUDI01

[CAN]
; As EOL Test
CAN02-- = 1
CAN03-- = 1
CAN04-- = 1
CAN05-- = 1
CAN06-- = 1
CAN13-- = 1
CANWK-- = 1
CANVA-- = 1
CAN12-- = 1;Envelop

[LIN]
; As EOL Test
LIN01-- = 1
LIN03-- = 1
LIN04-- = 1
LIN05-- = 1
LIN06-- = 1;Envelop
LIN07-- = 1
LIN08-- = 1
LIN09-- = 1

[CAN Error]
; 0x00000000: Indicates the absence of errors on the CAN network.
; 0x00000001: Indicates the presence of one error on ERR Pin.
CAN02             = 0
CAN03             = 0
CAN04             = 0
CAN05             = 0
CAN06             = 0
CAN13          	  = 0
CAN12             = 0
COM_FD_CAN_WAKE			  = 0
COM_FD_CAN_VEH_ACCESS			  = 0

[Interlock Feedback]
; Interlock Cross
M_IN_INLK_RET_Max = 3520
M_IN_INLK_RET_Min = 2880
M_IN_INLK_SRC_Max = 3850
M_IN_INLK_SRC_Min = 3150

[Internal Voltages References]
; These monitored feedbacks are related to internal analog values
; 0x0B
VCC_5V_VDDM_Max = 2005.5;GEN1 B3.3 High
VCC_5V_VDDM_Min = 1814.5;GEN1 B3.3 High
; 0x0C
M_AD_REF_KL30_Y_Max    = 2977.8
M_AD_REF_KL30_Y_Min    = 1464.9
; 0x0D
M_AD_REF_KL30_BL_Max   = 2977.8
M_AD_REF_KL30_BL_Min   = 1464.9
; 0x0E
M_AD_REF_KL30_RD_Max   = 2977.8
M_AD_REF_KL30_RD_Min   = 1464.9
; 0x0F
;VBAT_LIMP_Max         = 2600//need HW comfirm
;VBAT_LIMP_Min         = 2400
; 0x10
M_AD_NTC_1_Max         = 3000
M_AD_NTC_1_Min         = 1810
; 0x11
M_AD_NTC_2_Max         = 3000
M_AD_NTC_2_Min         = 1810
; 0x12
M_AD_NTC_3_Max         = 3000
M_AD_NTC_3_Min         = 1810
M_AD_VPUP_Max        = 2895.9
M_AD_VPUP_Min        = 1391.8
M_AD_VCC_5V_CAN_Max  = 2625
M_AD_VCC_5V_CAN_Min  = 2375
M_AD_PHY_REG_3V3_Max = 3465
M_AD_PHY_REG_3V3_Min = 2945
PHY_REG_1V1_Max      = 1155
PHY_REG_1V1_Min      = 1045


[Analog Inputs-type1]
; 5.0V
IAN_16 ANA_IN_20_Max  = 5500
IAN_16 ANA_IN_20_Min  = 4500
IAN_15 ANA_IN_19_Max  = 5500
IAN_15 ANA_IN_19_Min  = 4500
IAN_02 ANA_IN_02_Max  = 5500
IAN_02 ANA_IN_02_Min  = 4500
IAN_29 ANA_IN_29_Max  = 5500
IAN_29 ANA_IN_29_Min  = 4500
IAN_28 ANA_IN_28_Max  = 5500
IAN_28 ANA_IN_28_Min  = 4500
;IAN_04 ANA_IN_04_Max  = 5500 ;Envelop
;IAN_04 ANA_IN_04_Min  = 4500 ;Envelop
IAN_02 ANA_IN_02_Max  = 3630
IAN_02 ANA_IN_02_Min  = 2970


[Analog Inputs-type2]
; 4.7k Ohm
IAN_41 ANA_IN_12_Max  = 3774.1
IAN_41 ANA_IN_12_Min  = 3087.9
IAN_38 ANA_IN_10_Max  = 5005
IAN_38 ANA_IN_10_Min  = 4095
;IAN_45 ANA_IN_15_Max  = 82 ;Envelop
;IAN_45 ANA_IN_15_Min  = 0 ;Envelop
;IAN_43 ANA_IN_13_Max = 3087.9 ;Envelop
;IAN_43 ANA_IN_13_Min = 3774.1 ;Envelop

[Digital Inputs]
ID_09  DIG_IN_06  = 2
ID_41  DIG_IN_36  = 2
ID_26  DIG_IN_25  = 2
ID_39  DIG_IN_34  = 2
ID_40  DIG_IN_35  = 2
IAN_24 ANA_IN_26  = 2
ID_42  DIG_IN_37  = 2
ID_44  DIG_IN_39  = 2
ID_08  DIG_IN_05  = 2
IAN_18 ANA_IN_07  = 2
ID_45  DIG_IN_40  = 2
ID_43  DIG_IN_38  = 2
IAN_20 ANA_IN_22  = 2
IAN_12 ANA_IN_18  = 2
IAN_32 ANA_IN_32  = 2
IAN_34 ANA_IN_34  = 2
ID_38 DIG_IN_33   = 2
;ID_31 DIG_IN_28  = 2 ;Envelop

ID_01  DIG_IN_01 = 2
IAN_46 ANA_IN_16 = 2
ID_16  DIG_IN_11 = 2
ID_28  DIG_IN_26 = 2
ID_23  DIG_IN_22 = 2
ID_29  DIG_IN_27 = 2
ID_46  DIG_IN_19 = 2
ID_35  DIG_IN_32 = 2
ID_34  DIG_IN_31 = 2
ID_22  DIG_IN_15 = 2
IAN_44 ANA_IN_14 = 2
ID_30  DIG_IN_16 = 2
IAN_21 ANA_IN_23 = 2
ID_37  DIG_IN_18 = 2
;ID_07 DIG_IN_04  = 1 ;Envelop
;ID_06 DIG_IN_03  = 1 ;Envelop
;ID_36 DIG_IN_17  = 1 ;Envelop
;ID_33 DIG_IN_30  = 1 ;Envelop
;ID_32 DIG_IN_29  = 1 ;Envelop
;ID_ODH_46_RCD_WUP = 1 ;Envelop

[HSDs Sense]
ODH_03_HSD_H5_0_Max   = 50 ;D
ODH_03_HSD_H5_0_Min   = 0 ;D
ODH_04_HSD_H4_4_Max   = 50
ODH_04_HSD_H4_4_Min   = 0
ODH_06_HSD_H1_5_Max   = 50
ODH_06_HSD_H1_5_Min   = 0
ODH_07_HSD_H1_1_Max   = 50
ODH_07_HSD_H1_1_Min   = 0
ODH_08_HSD_H1_0_Max   = 50
ODH_08_HSD_H1_0_Min   = 0
ODH_09_HSD_H1_2_Max   = 50
ODH_09_HSD_H1_2_Min   = 0
ODH_10_HSD_H1_3_Max   =	316.8 ;D
ODH_10_HSD_H1_3_Min   =	129.6 ;D
;ODH_100_HSD_H4_2_Max  =	50	;Envelop
;ODH_100_HSD_H4_2_Min  =	0	;Envelop
;ODH_103A_HSD_H3_0_Max =	50	;Envelop
;ODH_103A_HSD_H3_0_Min =	0	;Envelop
ODH_106_HSD_D12_0_Max = 50
ODH_106_HSD_D12_0_Min = 0
ODH_107_HSD_H2_1_Max  =	50	;Envelop
ODH_107_HSD_H2_1_Min  =	0	;Envelop
ODH_109_HSD_D3_0_Max  = 348.7
ODH_109_HSD_D3_0_Min  = 173.7
ODH_111_HSD_H4_5_Max  = 937.2
ODH_111_HSD_H4_5_Min  = 423.9
ODH_112_HSD_H2_5_Max  = 50
ODH_112_HSD_H2_5_Min  = 0
ODH_113_HSD_D12_1_Max = 335.5 ;D
ODH_113_HSD_D12_1_Min = 151.2 ;D
;ODH_120_HSD_D2_0_Max  = 50
;ODH_120_HSD_D2_0_Min  = 0 ;B3.3 unpopulated
ODH_129_HSD_D15_1_Max = 50
ODH_129_HSD_D15_1_Min = 0
ODH_131_HSD_D13_1_Max = 50
ODH_131_HSD_D13_1_Min = 0
ODH_132_HSD_D22_0_Max = 50 ;D
ODH_132_HSD_D22_0_Min = 0 ;D
ODH_133_HSD_D15_0_Max = 50
ODH_133_HSD_D15_0_Min = 0
ODH_135_HSD_D1_0_Max  = 50 ;should be in B3.3high variant
ODH_135_HSD_D1_0_Min  = 0 ;should be in B3.3high variant
ODH_136_HSD_D14_1_Max = 558.8
ODH_136_HSD_D14_1_Min = 252.9
ODH_139_HSD_D1_1_Max  = 930.6 ;D ;should be in B3.3high variant
ODH_139_HSD_D1_1_Min  = 421.2 ;D ;should be in B3.3high variant
ODH_14_HSD_H3_3_Max   = 50
ODH_14_HSD_H3_3_Min   = 0
ODH_140_HSD_D2_1_Max  = 50 
ODH_140_HSD_D2_1_Min  = 0  
ODH_141_HSD_D9_0_Max  = 50
ODH_141_HSD_D9_0_Min  = 0
ODH_142_HSD_D16_1_Max = 50
ODH_142_HSD_D16_1_Min = 0
ODH_143_HSD_H4_3_Max  = 50
ODH_143_HSD_H4_3_Min  = 0
ODH_144_HSD_H6_1_Max  = 50 ;D
ODH_144_HSD_H6_1_Min  = 0 ;D
ODH_146_HSD_D9_1_Max  = 50
ODH_146_HSD_D9_1_Min  = 0
ODH_148_HSD_18_Max    = 675.4 ;D
ODH_148_HSD_18_Min    = 304.2 ;D
ODH_149_HSD_17_Max    = 50
ODH_149_HSD_17_Min    = 0
;ODH_152_HSD_D10_0_Max = 1109.9  ;B3.3unpopulated
;ODH_152_HSD_D10_0_Min = 460.269  ;B3.3unpopulated
ODH_153_HSD_20_Max    = 50 
ODH_153_HSD_20_Min    = 0
ODH_155_HSD_H2_4_Max  = 50
ODH_155_HSD_H2_4_Min  = 0
ODH_156_HSD_H1_4_Max  = 50
ODH_156_HSD_H1_4_Min  = 0
ODH_157_HSD_Q1_2_Max  =	50	;Envelop
ODH_157_HSD_Q1_2_Min  =	0	;Envelop
ODH_158_HSD_Q1_0_Max  = 352 ;D
ODH_158_HSD_Q1_0_Min  = 160.2 ;D
ODH_159_HSD_D7_1_Max  = 50
ODH_159_HSD_D7_1_Min  = 0
ODH_16_HSD_H3_1_Max   =	50	;Envelop
ODH_16_HSD_H3_1_Min   =	0	;Envelop
ODH_163_HSD_Q1_3_Max  = 50
ODH_163_HSD_Q1_3_Min  = 0
ODH_166_HSD_Q3_0_Max  = 50
ODH_166_HSD_Q3_0_Min  = 0
ODH_173_HSD_H6_4_Max  = 50
ODH_173_HSD_H6_4_Min  = 0
ODH_174_HSD_H3_5_Max  = 50
ODH_174_HSD_H3_5_Min  = 0
ODH_175_HSD_D3_1_Max  =	50	;Envelop
ODH_175_HSD_D3_1_Min  =	0	;Envelop
ODH_176_HSD_Q3_3_Max  = 50
ODH_176_HSD_Q3_3_Min  = 0
ODH_18_HSD_H3_4_Max   = 50
ODH_18_HSD_H3_4_Min   = 0
ODH_19_HSD_H6_2_Max   = 50
ODH_19_HSD_H6_2_Min   = 0
ODH_21_HSD_H6_3_Max   = 50
ODH_21_HSD_H6_3_Min   = 0
ODH_23_HSD_H6_0_Max   = 1873.3
ODH_23_HSD_H6_0_Min   = 840.6
ODH_30_HSD_H2_3_Max   = 50
ODH_30_HSD_H2_3_Min   = 0
ODH_32_HSD_H2_0_Max   = 50
ODH_32_HSD_H2_0_Min   = 0
ODH_33_HSD_D25_1_Max  = 699.6
ODH_33_HSD_D25_1_Min  = 315
ODH_38_HSD_D23_0_Max  = 50
ODH_38_HSD_D23_0_Min  = 0
ODH_40_HSD_D23_1_Max  = 50
ODH_40_HSD_D23_1_Min  = 0
ODH_41_HSD_H4_0_Max   = 50
ODH_41_HSD_H4_0_Min   = 0
ODH_42_HSD_H5_4_Max   = 50
ODH_42_HSD_H5_4_Min   = 0
ODH_43_HSD_H5_5_Max   = 50
ODH_43_HSD_H5_5_Min   = 0
ODH_44_HSD_H2_2_Max   = 115.5 ;D
ODH_44_HSD_H2_2_Min   = 56.7 ;D
ODH_47_HSD_H5_3_Max   = 50
ODH_47_HSD_H5_3_Min   = 0
ODH_49_HSD_H5_2_Max   = 50
ODH_49_HSD_H5_2_Min   = 0
ODH_50_HSD_19_Max     = 50
ODH_50_HSD_19_Min     = 0
ODH_53_HSD_D6_1_Max   = 50
ODH_53_HSD_D6_1_Min   = 0
ODH_55_HSD_D5_0_Max   = 50
ODH_55_HSD_D5_0_Min   = 0
ODH_64_HSD_Q3_1_Max   = 50
ODH_64_HSD_Q3_1_Min   = 0
ODH_66_HSD_H4_1_Max   = 50
ODH_66_HSD_H4_1_Min   = 0
ODH_66B_HSD_D11_1_Max = 50
ODH_66B_HSD_D11_1_Min = 0
ODH_84_HSD_D4_1_Max   = 1147.3 ;D
ODH_84_HSD_D4_1_Min   = 516.6 ;D
;ODH_90_HSD_H5_1_Max   =	50	;Envelop
;ODH_90_HSD_H5_1_Min   =	0	;Envelop
ODH_92_HSD_21_Max     = 50
ODH_92_HSD_21_Min     = 0
ODH_93_HSD_Q1_1_Max   = 50 ;D
ODH_93_HSD_Q1_1_Min   = 0 ;D
ODH_94_HSD_D8_1_Max   = 50
ODH_94_HSD_D8_1_Min   = 0
ODH_117_HSD_D13_0_Max =	50	;Envelop
ODH_117_HSD_D13_0_Min =	0	;Envelop
ODH_89_HSD_D4_0_Max   = 50   ;Envelop
ODH_89_HSD_D4_0_Min   = 0  ;Envelop

[LSDs Sense]
OL_03_LSD_5_Max = 0.20
OL_03_LSD_5_Min = 0.0
OL_04_LSD_6_Max = 0.20
OL_04_LSD_6_Min = 0.0
OL_05_LSD_4_Max = 0.30
OL_05_LSD_4_Min = 0.0

[H-BRIDGE Sense]
OMH01_1_FBR_01_1_Max  = 50
OMH01_1_FBR_01_1_Min  = 0
OMH01_2_FBR_01_2_Max  = 50
OMH01_2_FBR_01_2_Min  = 0
OMHb01_B_HBR_02_2_Max = 50
OMHb01_B_HBR_02_2_Min = 0
OMHb02_B_HBR_03_1_Max = 830.5 ;D
OMHb02_B_HBR_03_1_Min = 359.1 ;D
OMHb03_B_HBR_02_1_Max = 50
OMHb03_B_HBR_02_1_Min = 0
OMHb05_B_HBR_01_1_Max = 50
OMHb05_B_HBR_01_1_Min = 0
OMHb04_B_HBR_03_2_Max = 830.5  ;Envelop
OMHb04_B_HBR_03_2_Min = 359.1  ;Envelop
OMHb06_B_HBR_01_2_Max = 50 ;Envelop
OMHb06_B_HBR_01_2_Min = 0 ;Envelop

[eFUSE Sense]
ODHE_31_EFUSE_1_Max  = 50
ODHE_31_EFUSE_1_Min  = 0
;ODHE_30_EFUSE_4_Max  = 50	;B3.3unpopulated
;ODHE_30_EFUSE_4_Min  = 0	;B3.3unpopulated
ODHE_09_EFUSE_5_Max  = 50
ODHE_09_EFUSE_5_Min  = 0
ODHE_10_EFUSE_8_Max  = 50
ODHE_10_EFUSE_8_Min  = 0
ODHE_13_EFUSE_26_Max = 50
ODHE_13_EFUSE_26_Min = 0
ODHE_14_EFUSE_3_Max = 50
ODHE_14_EFUSE_3_Min = 0
ODHE_16_EFUSE_12_Max = 50 
ODHE_16_EFUSE_12_Min = 0 
ODHE_17_EFUSE_15_Max = 50
ODHE_17_EFUSE_15_Min = 0
ODHE_20_EFUSE_13_Max = 50
ODHE_20_EFUSE_13_Min = 0
ODHE_21_EFUSE_16_Max = 563.2 ;D
ODHE_21_EFUSE_16_Min = 250.2 ;D
ODHE_24_EFUSE_14_Max = 50
ODHE_24_EFUSE_14_Min = 0
ODHE_25_EFUSE_17_Max = 50
ODHE_25_EFUSE_17_Min = 0
ODHE_26_EFUSE_20_Max = 50
ODHE_26_EFUSE_20_Min = 0
ODHE_27_EFUSE_23_Max = 50
ODHE_27_EFUSE_23_Min = 0
;ODHE_29_EFUSE_10_Max = 50	;B3.3unpopulated
;ODHE_29_EFUSE_10_Min = 0	;B3.3unpopulated
ODHE_33_EFUSE_9_Max  = 707.3
ODHE_33_EFUSE_9_Min  = 314.1
ODHE_32_EFUSE_11_Max = 50	;Envelop
ODHE_32_EFUSE_11_Min = 0	;Envelop
ODHE_08_EFUSE_2_Max  = 50	;Envelop
ODHE_08_EFUSE_2_Min  = 0	;Envelop
ODHE_15_EFUSE_28_Max = 50 ;D	;Envelop
ODHE_15_EFUSE_28_Min = 0 ;D	;Envelop

;[EEPROM]
; TBC
;EEPROM ID      = 00-00-01-60-18
;EEPROM CRC      = 00-00-01-60-18

[Flash]
; TBC
Flash ID      = 00-00-01-60-18
Flash CRC      = 00-FE-A8-A8-21

;[SBC]
;SBC Status = 00-D4-06-42-03

[Undervoltage]
Undervoltage Event = 1