;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S5 - ZCU Cabin
; Creator：Weber
; Create Date：2025/08/15
; Note：
;
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********

[Error Code]
CAN             = ZCUCA01
LIN             = ZCULI01
H-bridge        = ZCUHB01
LSD             = ZCUL001
HSD             = ZCUH001
eFuse           = ZCUE001
Power Blue      = ZCUPB01
Power Red       = ZCUPR02
Interlock input = ZCUIN01
Analog VREF     = ZCUAN01
Analog In input = ZCUAN01
Digital I/O     = ZCUDI01

[Internal IC]
NOR Flash = 00-00-01-60-18

[Power Monitor]
HW_VER_VCC_5V_VDDM_Max = 5497.8
HW_VER_VCC_5V_VDDM_Min = 4498.2
M_AD_REF_KL30_BL_Max   = 2510.55
M_AD_REF_KL30_BL_Min   = 2271.45
M_AD_REF_KL30_RD_Max   = 2510.55
M_AD_REF_KL30_RD_Min   = 2271.45
M_AD_REF_KL30_Y_Max    = 2510.55
M_AD_REF_KL30_Y_Min    = 2271.45
M_AD_NTC_1_Max         = 2750
M_AD_NTC_1_Min         = 1810
M_AD_NTC_2_Max         = 2750
M_AD_NTC_2_Min         = 1810
M_AD_NTC_3_Max         = 2750
M_AD_NTC_3_Min         = 1810

[Power Monitor MUX]
M_AD_VPUP_Max        = 2510.55
M_AD_VPUP_Min        = 2271.45
M_AD_VCC_5V_CAN_Max  = 2625
M_AD_VCC_5V_CAN_Min  = 2375
M_AD_PHY_REG_3V3_Max = 3465
M_AD_PHY_REG_3V3_Min = 2945
PHY_REG_1V1_Max      = 1155
PHY_REG_1V1_Min      = 1045
;PHY_REG_1V8_Max      = 1890
;PHY_REG_1V8_Min      = 1710

[CAN]
CAN02-- = 1
CAN03-- = 1
CAN04-- = 1
CAN05-- = 1
CAN06-- = 1
CAN13-- = 1
CANWK-- = 1
CANVA-- = 1
CAN07-- = 1;Envelop
CAN08-- = 1;Envelop
CAN11-- = 1;Envelop
CAN12-- = 1;Envelop

[LIN]
LIN01-- = 1
LIN03-- = 1
LIN04-- = 1
LIN05-- = 1
LIN06-- = 1;Envelop
LIN07-- = 1
LIN08-- = 1
LIN09-- = 1

[Analog Input Type-1_1]
IAN_16 ANA_IN_20_Max  = 5500
IAN_16 ANA_IN_20_Min  = 4500
IAN_15 ANA_IN_19_Max  = 5500
IAN_15 ANA_IN_19_Min  = 4500
IAN_02 ANA_IN_02_Max  = 5500
IAN_02 ANA_IN_02_Min  = 4500
IAN_29 ANA_IN_29_Max  = 5500
IAN_29 ANA_IN_29_Min  = 4500
IAN_28 ANA_IN_28_Max  = 5500
IAN_28 ANA_IN_28_Min  = 4500
IAN_04 ANA_IN_04_Max  = 5500 ;Envelop
IAN_04 ANA_IN_04_Min  = 4500 ;Envelop
IAN_03 ANA_IN_03_Max  = 5500 ;Envelop
IAN_03 ANA_IN_03_Min  = 4500 ;Envelop
IAN_37 ANA_IN_09_Max  = 5500 ;Envelop
IAN_37 ANA_IN_09_Min  = 4500 ;Envelop
IAN_36 ANA_IN_08_Max  = 5500 ;Envelop
IAN_36 ANA_IN_08_Min  = 4500 ;Envelop
IAN_06 ANA_IN_05_Max  = 5500 ;Envelop
IAN_06 ANA_IN_05_Min  = 4500 ;Envelop
IAN_17 ANA_IN_06_Max  = 5500 ;Envelop
IAN_17 ANA_IN_06_Min  = 4500 ;Envelop
IAN_30 ANA_IN_30_Max  = 5500 ;Envelop
IAN_30 ANA_IN_30_Min  = 4500 ;Envelop
IAN_23 ANA_IN_25_Max  = 5500 ;Envelop
IAN_23 ANA_IN_25_Min  = 4500 ;Envelop
IAN_22 ANA_IN_24_Max  = 5500 ;Envelop
IAN_22 ANA_IN_24_Min  = 4500 ;Envelop
IAN_31 ANA_IN_31_Max  = 5500 ;Envelop
IAN_31 ANA_IN_31_Min  = 4500 ;Envelop
IAN_19 ANA_IN_21_Max  = 5500 ;Envelop
IAN_19 ANA_IN_21_Min  = 4500 ;Envelop
IAN_09 ANA_IN_17_Max  = 5500 ;Envelop
IAN_09 ANA_IN_17_Min  = 4500 ;Envelop
IAN_39 ANA_IN_11_Max = 5500 ;Envelop
IAN_39 ANA_IN_11_Min = 4500 ;Envelop
IAN_35 ANA_IN_35_Max = 5500 ;Envelop
IAN_35 ANA_IN_35_Min = 4500 ;Envelop
ID_20 DIG_IN_14_Max  = 5500 ;Envelop
ID_20 DIG_IN_14_Min  = 4500 ;Envelop

[Analog Input Type-1_2]
IAN_16 ANA_IN_20_Max  = 3630
IAN_16 ANA_IN_20_Min  = 2970
IAN_15 ANA_IN_19_Max  = 3630
IAN_15 ANA_IN_19_Min  = 2970
IAN_02 ANA_IN_02_Max  = 3630
IAN_02 ANA_IN_02_Min  = 2970
IAN_29 ANA_IN_29_Max  = 3630
IAN_29 ANA_IN_29_Min  = 2970
IAN_28 ANA_IN_28_Max  = 3630
IAN_28 ANA_IN_28_Min  = 2970
IAN_04 ANA_IN_04_Max  = 3630 ;Envelop
IAN_04 ANA_IN_04_Min  = 2970 ;Envelop
IAN_03 ANA_IN_03_Max  = 3630 ;Envelop
IAN_03 ANA_IN_03_Min  = 2970 ;Envelop
IAN_37 ANA_IN_09_Max  = 3630 ;Envelop
IAN_37 ANA_IN_09_Min  = 2970 ;Envelop
IAN_36 ANA_IN_08_Max  = 3630 ;Envelop
IAN_36 ANA_IN_08_Min  = 2970 ;Envelop
IAN_06 ANA_IN_05_Max  = 3630 ;Envelop
IAN_06 ANA_IN_05_Min  = 2970 ;Envelop
IAN_17 ANA_IN_06_Max  = 3630 ;Envelop
IAN_17 ANA_IN_06_Min  = 2970 ;Envelop
IAN_30 ANA_IN_30_Max  = 3630 ;Envelop
IAN_30 ANA_IN_30_Min  = 2970 ;Envelop
IAN_23 ANA_IN_25_Max  = 3630 ;Envelop
IAN_23 ANA_IN_25_Min  = 2970 ;Envelop
IAN_22 ANA_IN_24_Max  = 3630 ;Envelop
IAN_22 ANA_IN_24_Min  = 2970 ;Envelop
IAN_31 ANA_IN_31_Max  = 3630 ;Envelop
IAN_31 ANA_IN_31_Min  = 2970 ;Envelop
IAN_19 ANA_IN_21_Max  = 3630 ;Envelop
IAN_19 ANA_IN_21_Min  = 2970 ;Envelop
IAN_09 ANA_IN_17_Max  = 3630 ;Envelop
IAN_09 ANA_IN_17_Min  = 2970 ;Envelop
IAN_39 ANA_IN_11_Max = 3630 ;Envelop
IAN_39 ANA_IN_11_Min = 2970 ;Envelop
IAN_35 ANA_IN_35_Max = 3630 ;Envelop
IAN_35 ANA_IN_35_Min = 2970 ;Envelop
ID_20 DIG_IN_14_Max  = 3630 ;Envelop
ID_20 DIG_IN_14_Min  = 2970 ;Envelop

[Analog Input Type-1_3]
IAN_16 ANA_IN_20_Max  = 1980
IAN_16 ANA_IN_20_Min  = 1620
IAN_15 ANA_IN_19_Max  = 1980
IAN_15 ANA_IN_19_Min  = 1620
IAN_02 ANA_IN_02_Max  = 1980
IAN_02 ANA_IN_02_Min  = 1620
IAN_29 ANA_IN_29_Max  = 1980
IAN_29 ANA_IN_29_Min  = 1620
IAN_28 ANA_IN_28_Max  = 1980
IAN_28 ANA_IN_28_Min  = 1620
IAN_04 ANA_IN_04_Max  = 1980 ;Envelop
IAN_04 ANA_IN_04_Min  = 1620 ;Envelop
IAN_03 ANA_IN_03_Max  = 1980 ;Envelop
IAN_03 ANA_IN_03_Min  = 1620 ;Envelop
IAN_37 ANA_IN_09_Max  = 1980 ;Envelop
IAN_37 ANA_IN_09_Min  = 1620 ;Envelop
IAN_36 ANA_IN_08_Max  = 1980 ;Envelop
IAN_36 ANA_IN_08_Min  = 1620 ;Envelop
IAN_06 ANA_IN_05_Max  = 1980 ;Envelop
IAN_06 ANA_IN_05_Min  = 1620 ;Envelop
IAN_17 ANA_IN_06_Max  = 1980 ;Envelop
IAN_17 ANA_IN_06_Min  = 1620 ;Envelop
IAN_30 ANA_IN_30_Max  = 1980 ;Envelop
IAN_30 ANA_IN_30_Min  = 1620 ;Envelop
IAN_23 ANA_IN_25_Max  = 1980 ;Envelop
IAN_23 ANA_IN_25_Min  = 1620 ;Envelop
IAN_22 ANA_IN_24_Max  = 1980 ;Envelop
IAN_22 ANA_IN_24_Min  = 1620 ;Envelop
IAN_31 ANA_IN_31_Max  = 1980 ;Envelop
IAN_31 ANA_IN_31_Min  = 1620 ;Envelop
IAN_19 ANA_IN_21_Max  = 1980 ;Envelop
IAN_19 ANA_IN_21_Min  = 1620 ;Envelop
IAN_09 ANA_IN_17_Max  = 1980 ;Envelop
IAN_09 ANA_IN_17_Min  = 1620 ;Envelop
IAN_39 ANA_IN_11_Max = 1980 ;Envelop
IAN_39 ANA_IN_11_Min = 1620 ;Envelop
IAN_35 ANA_IN_35_Max = 1980 ;Envelop
IAN_35 ANA_IN_35_Min = 1620 ;Envelop
ID_20 DIG_IN_14_Max  = 1980 ;Envelop
ID_20 DIG_IN_14_Min  = 1620 ;Envelop

[Analog Input Type-2_1]
IAN_41 ANA_IN_12_Max  = 3774.1
IAN_41 ANA_IN_12_Min  = 3087.9
IAN_38 ANA_IN_10_Max  = 5005
IAN_38 ANA_IN_10_Min  = 4095
IAN_45 ANA_IN_15_Max  = 0 ;Envelop
IAN_45 ANA_IN_15_Min  = 0 ;Envelop
IAN_33 ANA_IN_33_Max  = 0 ;Envelop
IAN_33 ANA_IN_33_Min  = 0 ;Envelop
IAN_43 ANA_IN_13_Max = 0 ;Envelop
IAN_43 ANA_IN_13_Min = 0 ;Envelop

[Analog Input Type-2_2]
IAN_41 ANA_IN_12_Max  = 1322.2
IAN_41 ANA_IN_12_Min  = 1081.8
IAN_38 ANA_IN_10_Max  = 3269.2
IAN_38 ANA_IN_10_Min  = 2674.8
IAN_45 ANA_IN_15_Max  = 0 ;Envelop
IAN_45 ANA_IN_15_Min  = 0 ;Envelop
IAN_33 ANA_IN_33_Max  = 0 ;Envelop
IAN_33 ANA_IN_33_Min  = 0 ;Envelop
IAN_43 ANA_IN_13_Max = 0 ;Envelop
IAN_43 ANA_IN_13_Min = 0 ;Envelop

[Analog Input Type-2_3]
IAN_41 ANA_IN_12_Max  = 554.4
IAN_41 ANA_IN_12_Min  = 453.6
IAN_38 ANA_IN_10_Max  = 1768.8
IAN_38 ANA_IN_10_Min  = 1447.2
IAN_45 ANA_IN_15_Max  = 0 ;Envelop
IAN_45 ANA_IN_15_Min  = 0 ;Envelop
IAN_33 ANA_IN_33_Max  = 0 ;Envelop
IAN_33 ANA_IN_33_Min  = 0 ;Envelop
IAN_43 ANA_IN_13_Max = 0 ;Envelop
IAN_43 ANA_IN_13_Min = 0 ;Envelop


[Digital Output Single]
IAN_01 ANA_IN_01 = 1
ID_01  DIG_IN_01 = 1
IAN_46 ANA_IN_16 = 1
;ID_16  DIG_IN_11 = 1
ID_28  DIG_IN_26 = 1
ID_23  DIG_IN_22 = 1
ID_29  DIG_IN_27 = 1
ID_46  DIG_IN_19 = 1
ID_35  DIG_IN_32 = 1
ID_34  DIG_IN_31 = 1
ID_22  DIG_IN_15 = 1
IAN_44 ANA_IN_14 = 1
ID_30  DIG_IN_16 = 1
IAN_21 ANA_IN_23 = 2
ID_37  DIG_IN_18 = 2
ID_14 DIG_IN_09  = 1 ;Envelop
ID_15 DIG_IN_10  = 1 ;Envelop
ID_10 DIG_IN_07  = 1 ;Envelop
ID_18 DIG_IN_13  = 1 ;Envelop
ID_17 DIG_IN_12  = 1 ;Envelop
ID_07 DIG_IN_04  = 1 ;Envelop
ID_04 DIG_IN_20  = 1 ;Envelop
ID_05 DIG_IN_02  = 1 ;Envelop
ID_06 DIG_IN_03  = 1 ;Envelop
ID_12 DIG_IN_08  = 1 ;Envelop
ID_24 DIG_IN_23  = 1 ;Envelop
ID_38 DIG_IN_33  = 1 ;Envelop
ID_21 DIG_IN_21  = 1 ;Envelop
ID_36 DIG_IN_17  = 1 ;Envelop
ID_33 DIG_IN_30 = 1 ;Envelop
ID_25 DIG_IN_24 = 1 ;Envelop
ID_32 DIG_IN_29  = 1 ;Envelop

[Digital Output Cross]
ID_09  DIG_IN_06  = 1
ID_41  DIG_IN_36  = 1
ID_26  DIG_IN_25  = 1
ID_39  DIG_IN_34  = 1
ID_40  DIG_IN_35  = 1
IAN_24 ANA_IN_26  = 1
ID_42  DIG_IN_37  = 1
ID_44  DIG_IN_39  = 1
ID_08  DIG_IN_05  = 1
IAN_18 ANA_IN_07  = 1
ID_45  DIG_IN_40  = 1
ID_43  DIG_IN_38  = 1
IAN_20 ANA_IN_22  = 1
IAN_12 ANA_IN_18  = 1
IAN_27 ANA_IN_27 = 1 ;Envelop
ID_31 DIG_IN_28  = 1 ;Envelop


[Digital Output Interlock_2]
IAN_32 = 1

[Digital Output Interlock_3]
IAN_34 = 1

[Digital Output Interlock_4]
IAN_32 = 2

[Digital Output Interlock_5]
IAN_34 = 2

[Interlock_1]
M_IN_INLK_RET_Max = 3520
M_IN_INLK_RET_Min = 2880
M_IN_INLK_SRC_Max = 3850
M_IN_INLK_SRC_Min = 3150

[Interlock_2]
M_IN_INLK_RET_Max = 82
M_IN_INLK_RET_Min = 0
M_IN_INLK_SRC_Max = 82
M_IN_INLK_SRC_Min = 0

[Interlock_3]
M_IN_INLK_RET_Max = 82
M_IN_INLK_RET_Min = 0
M_IN_INLK_SRC_Max = 302.5
M_IN_INLK_SRC_Min = 247.5

[Interlock_4]
M_IN_INLK_RET_Max = 5500
M_IN_INLK_RET_Min = 4500
M_IN_INLK_SRC_Max = 5500
M_IN_INLK_SRC_Min = 4500

[Interlock_5]
M_IN_INLK_RET_Max = 5500
M_IN_INLK_RET_Min = 4500
M_IN_INLK_SRC_Max = 5500
M_IN_INLK_SRC_Min = 4500

[Interlock_6]
M_IN_INLK_RET_Max = 82
M_IN_INLK_RET_Min = 0
M_IN_INLK_SRC_Max = 5500
M_IN_INLK_SRC_Min = 4500

[eFuse Driver]
ODHE_09_EFUSE_5_Max  = 401.28
ODHE_09_EFUSE_5_Min  = 328.32
ODHE_10_EFUSE_8_Max  = 177.1
ODHE_10_EFUSE_8_Min  = 144.9
ODHE_13_EFUSE_26_Max = 177.1
ODHE_13_EFUSE_26_Min = 144.9
ODHE_14_EFUSE_3_Max = 274.56
ODHE_14_EFUSE_3_Min = 224.64
ODHE_16_EFUSE_12_Max = 580.8
ODHE_16_EFUSE_12_Min = 475.2
ODHE_17_EFUSE_15_Max = 513.15
ODHE_17_EFUSE_15_Min = 419.85
ODHE_20_EFUSE_13_Max = 388.85
ODHE_20_EFUSE_13_Min = 318.15
ODHE_21_EFUSE_16_Max = 391.325
ODHE_21_EFUSE_16_Min = 320.175
ODHE_24_EFUSE_14_Max = 309.98
ODHE_24_EFUSE_14_Min = 253.62
ODHE_25_EFUSE_17_Max = 424.38
ODHE_25_EFUSE_17_Min = 347.22
ODHE_26_EFUSE_20_Max = 347.325
ODHE_26_EFUSE_20_Min = 284.175
ODHE_27_EFUSE_23_Max = 563.2
ODHE_27_EFUSE_23_Min = 460.8
ODHE_29_EFUSE_10_Max = 332.2	;unpopulated
ODHE_29_EFUSE_10_Min = 271.8	;unpopulated
ODHE_30_EFUSE_4_Max  = 324.5	;unpopulated
ODHE_30_EFUSE_4_Min  = 265.5	;unpopulated
ODHE_31_EFUSE_1_Max  = 177.1
ODHE_31_EFUSE_1_Min  = 144.9
ODHE_33_EFUSE_9_Max  = 503.8
ODHE_33_EFUSE_9_Min  = 412.2
ODHE_06_FUSE_25_Max  = 580.8	;Envelop
ODHE_06_FUSE_25_Min  = 475.2	;Envelop
ODHE_07_EFUSE_7_Max  = 580.8	;Envelop
ODHE_07_EFUSE_7_Min  = 475.2	;Envelop
ODHE_08_EFUSE_2_Max  = 425.46	;Envelop
ODHE_08_EFUSE_2_Min  = 348.12	;Envelop
ODHE_11_EFUSE_27_Max = 580.8	;Envelop
ODHE_11_EFUSE_27_Min = 475.2	;Envelop
ODHE_12_EFUSE_6_Max  = 580.8	;Envelop
ODHE_12_EFUSE_6_Min  = 475.2	;Envelop
ODHE_15_EFUSE_28_Max = 580.8	;Envelop
ODHE_15_EFUSE_28_Min = 475.2	;Envelop
ODHE_18_EFUSE_18_Max = 580.8	;Envelop
ODHE_18_EFUSE_18_Min = 475.2	;Envelop
ODHE_19_EFUSE_21_Max = 580.8	;Envelop
ODHE_19_EFUSE_21_Min = 475.2	;Envelop
ODHE_22_EFUSE_19_Max = 504.9	;Envelop
ODHE_22_EFUSE_19_Min = 413.1	;Envelop
ODHE_23_EFUSE_22_Max = 504.9	;Envelop
ODHE_23_EFUSE_22_Min = 413.1	;Envelop
ODHE_28_EFUSE_24_Max = 580.8	;Envelop
ODHE_28_EFUSE_24_Min = 475.2	;Envelop
ODHE_32_EFUSE_11_Max = 439.45	;Envelop
ODHE_32_EFUSE_11_Min = 359.55	;Envelop

[High Side Driver]
ODH_03_HSD_H5_0_Max   = 796.4
ODH_03_HSD_H5_0_Min   = 651.6
ODH_04_HSD_H4_4_Max   = 284.9
ODH_04_HSD_H4_4_Min   = 233.1
ODH_06_HSD_H1_5_Max   = 284.9
ODH_06_HSD_H1_5_Min   = 233.1
ODH_07_HSD_H1_1_Max   = 94.6
ODH_07_HSD_H1_1_Min   = 77.4
ODH_08_HSD_H1_0_Max   = 796.4
ODH_08_HSD_H1_0_Min   = 651.6
ODH_09_HSD_H1_2_Max   = 94.6
ODH_09_HSD_H1_2_Min   = 77.4
ODH_106_HSD_D12_0_Max = 284.9
ODH_106_HSD_D12_0_Min = 233.1
ODH_109_HSD_D3_0_Max  = 284.9
ODH_109_HSD_D3_0_Min  = 233.1
ODH_111_HSD_H4_5_Max  = 798.6
ODH_111_HSD_H4_5_Min  = 653.4
ODH_112_HSD_H2_5_Max  = 284.9
ODH_112_HSD_H2_5_Min  = 233.1
ODH_113_HSD_D12_1_Max = 284.9
ODH_113_HSD_D12_1_Min = 233.1
ODH_120_HSD_D2_0_Max  = 367.4
ODH_120_HSD_D2_0_Min  = 300.6  ;unpopulated
ODH_129_HSD_D15_1_Max = 497.2
ODH_129_HSD_D15_1_Min = 406.8
ODH_131_HSD_D13_1_Max = 297
ODH_131_HSD_D13_1_Min = 243
ODH_132_HSD_D22_0_Max = 1441
ODH_132_HSD_D22_0_Min = 1179
ODH_133_HSD_D15_0_Max = 1496
ODH_133_HSD_D15_0_Min = 1224
ODH_135_HSD_D1_0_Max  = 798.6
ODH_135_HSD_D1_0_Min  = 653.4
ODH_136_HSD_D14_1_Max = 473
ODH_136_HSD_D14_1_Min = 387
ODH_139_HSD_D1_1_Max  = 798.6
ODH_139_HSD_D1_1_Min  = 653.4
ODH_14_HSD_H3_3_Max   = 267.3
ODH_14_HSD_H3_3_Min   = 218.7
ODH_140_HSD_D2_1_Max  = 1177
ODH_140_HSD_D2_1_Min  = 963
ODH_141_HSD_D9_0_Max  = 768.9
ODH_141_HSD_D9_0_Min  = 629.1
ODH_142_HSD_D16_1_Max = 949.3
ODH_142_HSD_D16_1_Min = 776.7
ODH_143_HSD_H4_3_Max  = 534.6
ODH_143_HSD_H4_3_Min  = 437.4
ODH_144_HSD_H6_1_Max  = 878.9
ODH_144_HSD_H6_1_Min  = 719.1
ODH_146_HSD_D9_1_Max  = 985.6
ODH_146_HSD_D9_1_Min  = 806.4
ODH_148_HSD_18_Max    = 497.2
ODH_148_HSD_18_Min    = 406.8
ODH_149_HSD_17_Max    = 467.5
ODH_149_HSD_17_Min    = 382.5
ODH_152_HSD_D10_0_Max = 949.3  ;unpopulated
ODH_152_HSD_D10_0_Min = 300.6  ;unpopulated
ODH_153_HSD_20_Max    = 414.7
ODH_153_HSD_20_Min    = 339.3
ODH_155_HSD_H2_4_Max  = 284.9
ODH_155_HSD_H2_4_Min  = 233.1
ODH_156_HSD_H1_4_Max  = 284.9
ODH_156_HSD_H1_4_Min  = 233.1
ODH_158_HSD_Q1_0_Max  = 284.9
ODH_158_HSD_Q1_0_Min  = 233.1
ODH_159_HSD_D7_1_Max  = 497.2
ODH_159_HSD_D7_1_Min  = 406.8
ODH_163_HSD_Q1_3_Max  = 284.9
ODH_163_HSD_Q1_3_Min  = 233.1
ODH_166_HSD_Q3_0_Max  = 797.5
ODH_166_HSD_Q3_0_Min  = 652.5
ODH_173_HSD_H6_4_Max  = 284.9
ODH_173_HSD_H6_4_Min  = 233.1
ODH_174_HSD_H3_5_Max  = 282.7
ODH_174_HSD_H3_5_Min  = 231.3
ODH_176_HSD_Q3_3_Max  = 797.5
ODH_176_HSD_Q3_3_Min  = 652.5
ODH_18_HSD_H3_4_Max   = 1595
ODH_18_HSD_H3_4_Min   = 1305
ODH_19_HSD_H6_2_Max   = 534.6
ODH_19_HSD_H6_2_Min   = 437.4
ODH_21_HSD_H6_3_Max   = 267.3
ODH_21_HSD_H6_3_Min   = 218.7
ODH_23_HSD_H6_0_Max   = 1593.9
ODH_23_HSD_H6_0_Min   = 1304.1
ODH_30_HSD_H2_3_Max   = 96.9
ODH_30_HSD_H2_3_Min   = 79.3
ODH_32_HSD_H2_0_Max   = 282.7
ODH_32_HSD_H2_0_Min   = 231.3
ODH_33_HSD_D25_1_Max  = 594
ODH_33_HSD_D25_1_Min  = 486
ODH_38_HSD_D23_0_Max  = 473
ODH_38_HSD_D23_0_Min  = 387
ODH_40_HSD_D23_1_Max  = 473
ODH_40_HSD_D23_1_Min  = 387
ODH_41_HSD_H4_0_Max   = 796.4
ODH_41_HSD_H4_0_Min   = 651.6
ODH_42_HSD_H5_4_Max   = 798.6
ODH_42_HSD_H5_4_Min   = 653.4
ODH_43_HSD_H5_5_Max   = 798.6
ODH_43_HSD_H5_5_Min   = 653.4
ODH_44_HSD_H2_2_Max   = 94.6
ODH_44_HSD_H2_2_Min   = 77.4
ODH_47_HSD_H5_3_Max   = 820.6
ODH_47_HSD_H5_3_Min   = 671.4
ODH_49_HSD_H5_2_Max   = 878.9
ODH_49_HSD_H5_2_Min   = 719.1
ODH_50_HSD_19_Max     = 944.9
ODH_50_HSD_19_Min     = 773.1
ODH_53_HSD_D6_1_Max   = 460.9
ODH_53_HSD_D6_1_Min   = 377.1
ODH_55_HSD_D5_0_Max   = 976.8
ODH_55_HSD_D5_0_Min   = 799.2
ODH_64_HSD_Q3_1_Max   = 797.5
ODH_64_HSD_Q3_1_Min   = 652.5
ODH_66_HSD_H4_1_Max   = 801.9
ODH_66_HSD_H4_1_Min   = 656.1
ODH_66B_HSD_D11_1_Max = 466.4
ODH_66B_HSD_D11_1_Min = 381.6
ODH_84_HSD_D4_1_Max   = 976.8
ODH_84_HSD_D4_1_Min   = 799.2
ODH_92_HSD_21_Max     = 1013.1
ODH_92_HSD_21_Min     = 828.9
ODH_93_HSD_Q1_1_Max   = 797.5
ODH_93_HSD_Q1_1_Min   = 652.5
ODH_94_HSD_D8_1_Max   = 297
ODH_94_HSD_D8_1_Min   = 243
ODH_01_HSD_D5_1_Max   =	976.8	;Envelop
ODH_01_HSD_D5_1_Min   =	799.2	;Envelop
ODH_100_HSD_H4_2_Max  =	1287	;Envelop
ODH_100_HSD_H4_2_Min  =	1053	;Envelop
ODH_103A_HSD_H3_0_Max =	267.3	;Envelop
ODH_103A_HSD_H3_0_Min =	218.7	;Envelop
ODH_107_HSD_H2_1_Max  =	94.6	;Envelop
ODH_107_HSD_H2_1_Min  =	77.4	;Envelop
ODH_117_HSD_D13_0_Max =	1684.98	;Envelop
ODH_117_HSD_D13_0_Min =	1378.62	;Envelop
ODH_118_HSD_D16_0_Max =	949.3	;Envelop
ODH_118_HSD_D16_0_Min =	776.7	;Envelop
ODH_122_HSD_D25_0_Max =	968	;Envelop
ODH_122_HSD_D25_0_Min =	792	;Envelop
ODH_123_HSD_D24_0_Max =	284.9	;Envelop
ODH_123_HSD_D24_0_Min =	233.1	;Envelop
ODH_127_HSD_D14_0_Max =	473	;Envelop
ODH_127_HSD_D14_0_Min =	387	;Envelop
ODH_130_HSD_D8_0_Max  =	891	;Envelop
ODH_130_HSD_D8_0_Min  =	729	;Envelop
ODH_157_HSD_Q1_2_Max  =	284.9	;Envelop
ODH_157_HSD_Q1_2_Min  =	233.1	;Envelop
ODH_158_HSD_Q1_0_Max  =	284.9	;Envelop
ODH_158_HSD_Q1_0_Min  =	233.1	;Envelop
ODH_16_HSD_H3_1_Max   =	267.3	;Envelop
ODH_16_HSD_H3_1_Min   =	218.7	;Envelop
ODH_167_HSD_Q3_2_Max  =	886.6	;Envelop
ODH_167_HSD_Q3_2_Min  =	725.4	;Envelop
ODH_172_HSD_Q2_2_Max  =	284.9	;Envelop
ODH_172_HSD_Q2_2_Min  =	233.1	;Envelop
ODH_175_HSD_D3_1_Max  =	284.9	;Envelop
ODH_175_HSD_D3_1_Min  =	233.1	;Envelop
ODH_35_HSD_D24_1_Max  =	798.6	;Envelop
ODH_35_HSD_D24_1_Min  =	653.4	;Envelop
ODH_62_HSD_Q2_0_Max   =	797.5	;Envelop
ODH_62_HSD_Q2_0_Min   =	652.5	;Envelop
ODH_63_HSD_Q2_1_Max   =	797.5	;Envelop
ODH_63_HSD_Q2_1_Min   =	652.5	;Envelop
ODH_84_HSD_D4_1_Max   =	976.8	;Envelop
ODH_84_HSD_D4_1_Min   =	799.2	;Envelop
ODH_85_HSD_D10_1_Max  =	949.3	;Envelop
ODH_85_HSD_D10_1_Min  =	776.7	;Envelop
ODH_86_HSD_H3_2_Max   =	534.6	;Envelop
ODH_86_HSD_H3_2_Min   =	437.4	;Envelop
ODH_89_HSD_D4_0_Max   =	555.5	;Envelop
ODH_89_HSD_D4_0_Min   =	454.5	;Envelop
ODH_90_HSD_H5_1_Max   =	801.9	;Envelop
ODH_90_HSD_H5_1_Min   =	656.1	;Envelop
ODH_91B_HSD_D22_1_Max =	229.9	;Envelop
ODH_91B_HSD_D22_1_Min =	188.1	;Envelop
ODH_91A_HSD_D11_0_Max =	866.8	;Envelop
ODH_91A_HSD_D11_0_Min =	709.2	;Envelop
ODH_95_HSD_D6_0_Max   =	798.6	;Envelop
ODH_95_HSD_D6_0_Min   =	653.4	;Envelop
ODH_96_HSD_D7_0_Max   =	497.2	;Envelop
ODH_96_HSD_D7_0_Min   =	406.8	;Envelop
ODH_10_HSD_H1_3_Max   =	267.3	;NA
ODH_10_HSD_H1_3_Min   =	218.7	;NA

[Low Side Driver]
OL_03_LSD_5_Max = 0.20
OL_03_LSD_5_Min = 0.12
OL_04_LSD_6_Max = 0.20
OL_04_LSD_6_Min = 0.12
OL_05_LSD_4_Max = 0.30
OL_05_LSD_4_Min = 0.22
OL_01_LSD_7_Max = 0 ;Envelop
OL_01_LSD_7_Min = 0 ;Envelop
OL_02_LSD_3_Max = 0 ;Envelop.
OL_02_LSD_3_Min = 0 ;Envelop

[H-Bridge Driver]
OMH01_1_FBR_01_1_Max  = 892.1
OMH01_1_FBR_01_1_Min  = 729.9
OMH01_2_FBR_01_2_Max  = 898.7
OMH01_2_FBR_01_2_Min  = 735.3
OMHb01_B_HBR_02_2_Max = 893.2
OMHb01_B_HBR_02_2_Min = 730.8
OMHb02_B_HBR_03_1_Max = 669.537
OMHb02_B_HBR_03_1_Min = 547.803
OMHb03_B_HBR_02_1_Max = 903.837
OMHb03_B_HBR_02_1_Min = 739.503
OMHb05_B_HBR_01_1_Max = 666.237
OMHb05_B_HBR_01_1_Min = 545.103
OMHb04_B_HBR_03_2_Max = 1367.3  ;Envelop
OMHb04_B_HBR_03_2_Min = 1118.7  ;Envelop
OMHb06_B_HBR_01_2_Max = 669.537 ;Envelop
OMHb06_B_HBR_01_2_Min = 547.803 ;Envelop

[eFuse Driver Emission]
Enable = 1
;ODHE_18_EFUSE_18_Max = 580.8	;Envelop
;ODHE_18_EFUSE_18_Min = 475.2	;Envelop

[High Side Driver Emission]
Enable = 1
ODH_03_HSD_H5_0_Max   = 796.4
ODH_03_HSD_H5_0_Min   = 651.6
ODH_129_HSD_D15_1_Max = 497.2
ODH_129_HSD_D15_1_Min = 406.8
ODH_131_HSD_D13_1_Max = 297
ODH_131_HSD_D13_1_Min = 243
ODH_133_HSD_D15_0_Max = 1496
ODH_133_HSD_D15_0_Min = 1224
ODH_139_HSD_D1_1_Max  = 798.6
ODH_139_HSD_D1_1_Min  = 653.4
ODH_140_HSD_D2_1_Max  = 1177
ODH_140_HSD_D2_1_Min  = 963
ODH_141_HSD_D9_0_Max  = 768.9
ODH_141_HSD_D9_0_Min  = 629.1
ODH_144_HSD_H6_1_Max  = 878.9
ODH_144_HSD_H6_1_Min  = 719.1
ODH_146_HSD_D9_1_Max  = 985.6
ODH_146_HSD_D9_1_Min  = 806.4
ODH_176_HSD_Q3_3_Max  = 797.5
ODH_176_HSD_Q3_3_Min  = 652.5
ODH_21_HSD_H6_3_Max   = 267.3
ODH_21_HSD_H6_3_Min   = 218.7
ODH_47_HSD_H5_3_Max   = 820.6
ODH_47_HSD_H5_3_Min   = 671.4
ODH_49_HSD_H5_2_Max   = 878.9
ODH_49_HSD_H5_2_Min   = 719.1
ODH_50_HSD_19_Max     = 944.9
ODH_50_HSD_19_Min     = 773.1
ODH_53_HSD_D6_1_Max   = 460.9
ODH_53_HSD_D6_1_Min   = 377.1
ODH_55_HSD_D5_0_Max   = 976.8
ODH_55_HSD_D5_0_Min   = 799.2
ODH_64_HSD_Q3_1_Max   = 797.5
ODH_64_HSD_Q3_1_Min   = 652.5
ODH_66_HSD_H4_1_Max   = 801.9
ODH_66_HSD_H4_1_Min   = 656.1
ODH_66B_HSD_D11_1_Max = 466.4
ODH_66B_HSD_D11_1_Min = 381.6
ODH_92_HSD_21_Max     = 1013.1
ODH_92_HSD_21_Min     = 828.9
ODH_93_HSD_Q1_1_Max   = 797.5
ODH_93_HSD_Q1_1_Min   = 652.5
ODH_100_HSD_H4_2_Max  =	1287	;Envelop
ODH_100_HSD_H4_2_Min  =	1053	;Envelop
ODH_103A_HSD_H3_0_Max =	267.3	;Envelop
ODH_103A_HSD_H3_0_Min =	218.7	;Envelop
ODH_62_HSD_Q2_0_Max   =	797.5	;Envelop
ODH_62_HSD_Q2_0_Min   =	652.5	;Envelop
ODH_63_HSD_Q2_1_Max   =	797.5	;Envelop
ODH_63_HSD_Q2_1_Min   =	652.5	;Envelop
ODH_84_HSD_D4_1_Max   =	976.8	;Envelop
ODH_84_HSD_D4_1_Min   =	799.2	;Envelop
ODH_85_HSD_D10_1_Max  =	949.3	;Envelop
ODH_85_HSD_D10_1_Min  =	776.7	;Envelop
ODH_89_HSD_D4_0_Max   =	555.5	;Envelop
ODH_89_HSD_D4_0_Min   =	454.5	;Envelop
ODH_91B_HSD_D22_1_Max =	229.9	;Envelop
ODH_91B_HSD_D22_1_Min =	188.1	;Envelop
ODH_91A_HSD_D11_0_Max =	866.8	;Envelop
ODH_91A_HSD_D11_0_Min =	709.2	;Envelop
ODH_95_HSD_D6_0_Max   =	798.6	;Envelop
ODH_95_HSD_D6_0_Min   =	653.4	;Envelop
ODH_96_HSD_D7_0_Max   =	497.2	;Envelop
ODH_96_HSD_D7_0_Min   =	406.8	;Envelop
ODH_14_HSD_H3_3_Max   = 267.3
ODH_14_HSD_H3_3_Min   = 218.7

[Low Side Driver]
OL_03_LSD_5_Max = 0.20
OL_03_LSD_5_Min = 0.12
OL_04_LSD_6_Max = 0.20
OL_04_LSD_6_Min = 0.12
OL_05_LSD_4_Max = 0.30
OL_05_LSD_4_Min = 0.22
OL_01_LSD_7_Max = 0 ;Envelop
OL_01_LSD_7_Min = 0 ;Envelop
OL_02_LSD_3_Max = 0 ;Envelop.
OL_02_LSD_3_Min = 0 ;Envelop

[H-Bridge Driver]
OMH01_1_FBR_01_1_Max  = 892.1
OMH01_1_FBR_01_1_Min  = 729.9
OMH01_2_FBR_01_2_Max  = 898.7
OMH01_2_FBR_01_2_Min  = 735.3
OMHb01_B_HBR_02_2_Max = 893.2
OMHb01_B_HBR_02_2_Min = 730.8
OMHb02_B_HBR_03_1_Max = 669.537
OMHb02_B_HBR_03_1_Min = 547.803
OMHb03_B_HBR_02_1_Max = 903.837
OMHb03_B_HBR_02_1_Min = 739.503
OMHb05_B_HBR_01_1_Max = 666.237
OMHb05_B_HBR_01_1_Min = 545.103
OMHb04_B_HBR_03_2_Max = 1367.3  ;Envelop
OMHb04_B_HBR_03_2_Min = 1118.7  ;Envelop
OMHb06_B_HBR_01_2_Max = 669.537 ;Envelop
OMHb06_B_HBR_01_2_Min = 547.803 ;Envelop

[eFuse Driver Emission]
Enable = 1
ODHE_18_EFUSE_18_Max = 580.8	;Envelop
ODHE_18_EFUSE_18_Min = 475.2	;Envelop

[High Side Driver Emission]
Enable = 1
ODH_03_HSD_H5_0_Max   = 796.4
ODH_03_HSD_H5_0_Min   = 651.6
ODH_129_HSD_D15_1_Max = 497.2
ODH_129_HSD_D15_1_Min = 406.8
ODH_131_HSD_D13_1_Max = 297
ODH_131_HSD_D13_1_Min = 243
ODH_133_HSD_D15_0_Max = 1496
ODH_133_HSD_D15_0_Min = 1224
ODH_139_HSD_D1_1_Max  = 798.6
ODH_139_HSD_D1_1_Min  = 653.4
ODH_140_HSD_D2_1_Max  = 1177
ODH_140_HSD_D2_1_Min  = 963
ODH_141_HSD_D9_1_Max  = 768.9
ODH_141_HSD_D9_1_Min  = 629.1
ODH_144_HSD_H6_1_Max  = 878.9
ODH_144_HSD_H6_1_Min  = 719.1
ODH_146_HSD_D9_1_Max  = 985.6
ODH_146_HSD_D9_1_Min  = 806.4
ODH_176_HSD_Q3_3_Max  = 797.5
ODH_176_HSD_Q3_3_Min  = 652.5
ODH_21_HSD_H6_3_Max   = 267.3
ODH_21_HSD_H6_3_Min   = 218.7
ODH_47_HSD_H5_3_Max   = 820.6
ODH_47_HSD_H5_3_Min   = 671.4
ODH_49_HSD_H5_2_Max   = 878.9
ODH_49_HSD_H5_2_Min   = 719.1
ODH_50_HSD_19_Max     = 944.9
ODH_50_HSD_19_Min     = 773.1
ODH_53_HSD_D6_1_Max   = 460.9
ODH_53_HSD_D6_1_Min   = 377.1
ODH_55_HSD_D5_0_Max   = 976.8
ODH_55_HSD_D5_0_Min   = 799.2
ODH_64_HSD_Q3_1_Max   = 797.5
ODH_64_HSD_Q3_1_Min   = 652.5
ODH_66_HSD_H4_1_Max   = 801.9
ODH_66_HSD_H4_1_Min   = 656.1
ODH_66B_HSD_D11_1_Max = 466.4
ODH_66B_HSD_D11_1_Min = 381.6
ODH_92_HSD_21_Max     = 1013.1
ODH_92_HSD_21_Min     = 828.9
ODH_93_HSD_Q1_1_Max   = 797.5
ODH_93_HSD_Q1_1_Min   = 652.5
ODH_100_HSD_H4_2_Max  =	1287	;Envelop
ODH_100_HSD_H4_2_Min  =	1053	;Envelop
ODH_103A_HSD_H3_0_Max =	267.3	;Envelop
ODH_103A_HSD_H3_0_Min =	218.7	;Envelop
ODH_62_HSD_Q2_0_Max   =	797.5	;Envelop
ODH_62_HSD_Q2_0_Min   =	652.5	;Envelop
ODH_63_HSD_Q2_1_Max   =	797.5	;Envelop
ODH_63_HSD_Q2_1_Min   =	652.5	;Envelop
ODH_84_HSD_D4_1_Max   =	976.8	;Envelop
ODH_84_HSD_D4_1_Min   =	799.2	;Envelop
ODH_85_HSD_D10_1_Max  =	949.3	;Envelop
ODH_85_HSD_D10_1_Min  =	776.7	;Envelop
ODH_89_HSD_D4_0_Max   =	555.5	;Envelop
ODH_89_HSD_D4_0_Min   =	454.5	;Envelop
ODH_91B_HSD_D22_1_Max =	229.9	;Envelop
ODH_91B_HSD_D22_1_Min =	188.1	;Envelop
ODH_91A_HSD_D11_0_Max =	866.8	;Envelop
ODH_91A_HSD_D11_0_Min =	709.2	;Envelop
ODH_95_HSD_D6_0_Max   =	798.6	;Envelop
ODH_95_HSD_D6_0_Min   =	653.4	;Envelop
ODH_96_HSD_D7_0_Max   =	497.2	;Envelop
ODH_96_HSD_D7_0_Min   =	406.8	;Envelop

[Low Side Driver Emission]
Enable = 1
OL_05_LSD_4_Max = 0.30
OL_05_LSD_4_Min = 0.22
OL_01_LSD_7_Max = 0 ;Envelop
OL_01_LSD_7_Min = 0 ;Envelop

[eFuse Driver Immunity A]
ODHE_09_EFUSE_5_Max  = 9
ODHE_09_EFUSE_5_Min  = 5
ODHE_10_EFUSE_8_Max  = 31
ODHE_10_EFUSE_8_Min  = 24
ODHE_12_EFUSE_6_Max  = 31	;Envelop
ODHE_12_EFUSE_6_Min  = 24  ;Envelop
ODHE_14_EFUSE_3_Max  = 77.5
ODHE_14_EFUSE_3_Min  = 63.4
ODHE_16_EFUSE_12_Max = 31
ODHE_16_EFUSE_12_Min = 24
ODHE_17_EFUSE_15_Max = 31
ODHE_17_EFUSE_15_Min = 24
ODHE_20_EFUSE_13_Max = 7
ODHE_20_EFUSE_13_Min = 3
ODHE_21_EFUSE_16_Max = 9
ODHE_21_EFUSE_16_Min = 5
ODHE_22_EFUSE_19_Max = 9	;Envelop
ODHE_22_EFUSE_19_Min = 5	;Envelop
ODHE_23_EFUSE_22_Max = 31	;Envelop
ODHE_23_EFUSE_22_Min = 24 	;Envelop
ODHE_29_EFUSE_10_Max = 8	;unpopulated
ODHE_29_EFUSE_10_Min = 4	;unpopulated
ODHE_30_EFUSE_4_Max  = 8	;unpopulated
ODHE_30_EFUSE_4_Min  = 4 	;unpopulated
ODHE_32_EFUSE_11_Max = 16	;Envelop
ODHE_32_EFUSE_11_Min = 10 	;Envelop

[eFuse Driver Immunity B]
ODHE_13_EFUSE_26_Max = 28
ODHE_13_EFUSE_26_Min = 22
ODHE_24_EFUSE_14_Max = 11
ODHE_24_EFUSE_14_Min = 8
ODHE_25_EFUSE_17_Max = 16
ODHE_25_EFUSE_17_Min = 11
ODHE_26_EFUSE_20_Max = 16
ODHE_26_EFUSE_20_Min = 11
ODHE_27_EFUSE_23_Max = 31
ODHE_27_EFUSE_23_Min = 24
ODHE_31_EFUSE_1_Max  = 31
ODHE_31_EFUSE_1_Min  = 24
ODHE_33_EFUSE_9_Max  = 31
ODHE_33_EFUSE_9_Min  = 24
ODHE_06_FUSE_25_Max  = 31	;Envelop
ODHE_06_FUSE_25_Min  = 24	;Envelop
ODHE_07_EFUSE_7_Max  = 31	;Envelop
ODHE_07_EFUSE_7_Min  = 24	;Envelop
ODHE_08_EFUSE_2_Max  = 9	;Envelop
ODHE_08_EFUSE_2_Min  =  5	;Envelop
ODHE_11_EFUSE_27_Max =15 	;Envelop
ODHE_11_EFUSE_27_Min = 10 	;Envelop
ODHE_15_EFUSE_28_Max = 31	;Envelop
ODHE_15_EFUSE_28_Min = 24 	;Envelop
ODHE_18_EFUSE_18_Max = 31	;Envelop
ODHE_18_EFUSE_18_Min = 24 	;Envelop
ODHE_19_EFUSE_21_Max = 31	;Envelop
ODHE_19_EFUSE_21_Min = 24 	;Envelop
ODHE_28_EFUSE_24_Max = 31	;Envelop
ODHE_28_EFUSE_24_Min = 24	;Envelop

[High Side Driver Immunity A]
ODH_06_HSD_H1_5_Max   = 291.9
ODH_06_HSD_H1_5_Min   = 238.8
ODH_07_HSD_H1_1_Max   = 96.9
ODH_07_HSD_H1_1_Min   = 79.3
ODH_08_HSD_H1_0_Max   = 309
ODH_08_HSD_H1_0_Min   = 257
ODH_10_HSD_H1_3_Max   = 105   ;NA
ODH_10_HSD_H1_3_Min   = 85  ;NA
ODH_103A_HSD_H3_0_Max = 291   ;Envelop
ODH_103A_HSD_H3_0_Min = 137   ;Envelop
ODH_106_HSD_D12_0_Max = 291.9
ODH_106_HSD_D12_0_Min = 238.8
ODH_107_HSD_H2_1_Max  = 100   ;Envelop
ODH_107_HSD_H2_1_Min  = 81   ;Envelop
ODH_109_HSD_D3_0_Max  = 291.9
ODH_109_HSD_D3_0_Min  = 238.8
ODH_112_HSD_H2_5_Max  = 291.8
ODH_112_HSD_H2_5_Min  = 238.8
ODH_113_HSD_D12_1_Max = 291.9
ODH_113_HSD_D12_1_Min = 238.8
ODH_117_HSD_D13_0_Max = 118   ;Envelop
ODH_117_HSD_D13_0_Min = 95   ;Envelop
ODH_127_HSD_D14_0_Max = 37   ;Envelop
ODH_127_HSD_D14_0_Min = 29   ;Envelop
ODH_129_HSD_D15_1_Max = 181
ODH_129_HSD_D15_1_Min = 147
ODH_130_HSD_D8_0_Max  = 115   ;Envelop
ODH_130_HSD_D8_0_Min  = 93   ;Envelop
ODH_131_HSD_D13_1_Max = 109
ODH_131_HSD_D13_1_Min = 88
ODH_133_HSD_D15_0_Max = 179
ODH_133_HSD_D15_0_Min = 145
ODH_135_HSD_D1_0_Max  = 291.9
ODH_135_HSD_D1_0_Min  = 238.8
ODH_136_HSD_D14_1_Max = 37
ODH_136_HSD_D14_1_Min = 29
ODH_139_HSD_D1_1_Max  = 291.9
ODH_139_HSD_D1_1_Min  = 238.8
ODH_140_HSD_D2_1_Max  = 74
ODH_140_HSD_D2_1_Min  = 60
ODH_141_HSD_D9_0_Max  = 55
ODH_141_HSD_D9_0_Min  = 45
ODH_146_HSD_D9_1_Max  = 54
ODH_146_HSD_D9_1_Min  = 43
ODH_148_HSD_18_Max    = 12
ODH_148_HSD_18_Min    = 8
ODH_149_HSD_17_Max    = 13
ODH_149_HSD_17_Min    = 9
ODH_153_HSD_20_Max    = 11
ODH_153_HSD_20_Min    = 7
ODH_155_HSD_H2_4_Max  = 291.9
ODH_155_HSD_H2_4_Min  = 238.8
ODH_156_HSD_H1_4_Max  = 291.9
ODH_156_HSD_H1_4_Min  = 238.8
ODH_157_HSD_Q1_2_Max  = 291.9   ;Envelop
ODH_157_HSD_Q1_2_Min  = 238.8   ;Envelop
ODH_158_HSD_Q1_0_Max  = 291.9
ODH_158_HSD_Q1_0_Min  = 238.8
ODH_163_HSD_Q1_3_Max  = 291.9
ODH_163_HSD_Q1_3_Min  = 238.8
ODH_174_HSD_H3_5_Max  = 291.9
ODH_174_HSD_H3_5_Min  = 238.8
ODH_175_HSD_D3_1_Max  = 291.9   ;Envelop
ODH_175_HSD_D3_1_Min  = 238.8   ;Envelop
ODH_30_HSD_H2_3_Max   = 96.9
ODH_30_HSD_H2_3_Min   = 79.3
ODH_32_HSD_H2_0_Max   = 880.0
ODH_32_HSD_H2_0_Min   = 720.0
ODH_44_HSD_H2_2_Max   = 96.9
ODH_44_HSD_H2_2_Min   = 79.3
ODH_50_HSD_19_Max     = 352.0
ODH_50_HSD_19_Min     = 288.0
ODH_53_HSD_D6_1_Max   = 291.9
ODH_53_HSD_D6_1_Min   = 238.8
ODH_55_HSD_D5_0_Max   = 977.8
ODH_55_HSD_D5_0_Min   = 800.0
ODH_85_HSD_D10_1_Max  = 648.3   ;Envelop
ODH_85_HSD_D10_1_Min  = 530.4   ;Envelop
ODH_92_HSD_21_Max     = 352.0
ODH_92_HSD_21_Min     = 288.0
ODH_96_HSD_D7_0_Max   = 1637.2  ;Envelop
ODH_96_HSD_D7_0_Min   = 1339.5  ;Envelop

[High Side Driver Immunity B]
ODH_01_HSD_D5_1_Max   = 977.8   ;Envelop
ODH_01_HSD_D5_1_Min   = 800.0   ;Envelop
ODH_03_HSD_H5_0_Max   = 308
ODH_03_HSD_H5_0_Min   = 251
ODH_04_HSD_H4_4_Max   = 291.9
ODH_04_HSD_H4_4_Min   = 238.8
ODH_09_HSD_H1_2_Max   = 102
ODH_09_HSD_H1_2_Min   = 83
ODH_100_HSD_H4_2_Max  = 101   ;Envelop
ODH_100_HSD_H4_2_Min  = 81   ;Envelop
ODH_111_HSD_H4_5_Max  = 291.9
ODH_111_HSD_H4_5_Min  = 238.8
ODH_118_HSD_D16_0_Max = 75   ;Envelop
ODH_118_HSD_D16_0_Min = 61   ;Envelop
ODH_120_HSD_D2_0_Max  = 77
ODH_120_HSD_D2_0_Min  = 62   ;unpopulated
ODH_122_HSD_D25_0_Max = 115   ;Envelop
ODH_122_HSD_D25_0_Min = 93   ;Envelop
ODH_123_HSD_D24_0_Max = 291.9   ;Envelop
ODH_123_HSD_D24_0_Min = 238.8   ;Envelop
ODH_132_HSD_D22_0_Max = 112
ODH_132_HSD_D22_0_Min = 91
ODH_14_HSD_H3_3_Max   = 99
ODH_14_HSD_H3_3_Min   = 81
ODH_142_HSD_D16_1_Max = 74
ODH_142_HSD_D16_1_Min = 59
ODH_143_HSD_H4_3_Max  = 102
ODH_143_HSD_H4_3_Min  = 83
ODH_144_HSD_H6_1_Max  = 82
ODH_144_HSD_H6_1_Min  = 101
ODH_152_HSD_D10_0_Max = 77   ;unpopulated
ODH_152_HSD_D10_0_Min = 62   ;unpopulated
ODH_159_HSD_D7_1_Max  = 1637.2
ODH_159_HSD_D7_1_Min  = 1339.5
ODH_16_HSD_H3_1_Max   = 291.9   ;Envelop
ODH_16_HSD_H3_1_Min   = 238.8   ;Envelop
ODH_166_HSD_Q3_0_Max  = 291.9
ODH_166_HSD_Q3_0_Min  = 238.8
ODH_167_HSD_Q3_2_Max  = 291.9   ;Envelop
ODH_167_HSD_Q3_2_Min  = 238.8   ;Envelop
ODH_172_HSD_Q2_2_Max  = 291.9   ;Envelop
ODH_172_HSD_Q2_2_Min  = 238.8   ;Envelop
ODH_173_HSD_H6_4_Max  = 291.9
ODH_173_HSD_H6_4_Min  = 238.8
ODH_176_HSD_Q3_3_Max  = 291.9
ODH_176_HSD_Q3_3_Min  = 238.8
ODH_18_HSD_H3_4_Max   = 291.9
ODH_18_HSD_H3_4_Min   = 238.8
ODH_19_HSD_H6_2_Max   = 880.0
ODH_19_HSD_H6_2_Min   = 720.0
ODH_21_HSD_H6_3_Max   = 880.0
ODH_21_HSD_H6_3_Min   = 720.0
ODH_23_HSD_H6_0_Max   = 880.0
ODH_23_HSD_H6_0_Min   = 720.0
ODH_33_HSD_D25_1_Max  = 977.8
ODH_33_HSD_D25_1_Min  = 800.0
ODH_35_HSD_D24_1_Max  = 291.9   ;Envelop
ODH_35_HSD_D24_1_Min  = 238.8   ;Envelop
ODH_38_HSD_D23_0_Max  = 306.1
ODH_38_HSD_D23_0_Min  = 250.4
ODH_40_HSD_D23_1_Max  = 306.1
ODH_40_HSD_D23_1_Min  = 250.4
ODH_41_HSD_H4_0_Max   = 880.0
ODH_41_HSD_H4_0_Min   = 720.0
ODH_42_HSD_H5_4_Max   = 291.9
ODH_42_HSD_H5_4_Min   = 238.8
ODH_43_HSD_H5_5_Max   = 291.9
ODH_43_HSD_H5_5_Min   = 238.8
ODH_47_HSD_H5_3_Max   = 880.0
ODH_47_HSD_H5_3_Min   = 720.0
ODH_49_HSD_H5_2_Max   = 880.0
ODH_49_HSD_H5_2_Min   = 720.0
ODH_62_HSD_Q2_0_Max   = 291.9   ;Envelop
ODH_62_HSD_Q2_0_Min   = 238.8   ;Envelop
ODH_63_HSD_Q2_1_Max   = 291.9   ;Envelop
ODH_63_HSD_Q2_1_Min   = 238.8   ;Envelop
ODH_64_HSD_Q3_1_Max   = 291.9
ODH_64_HSD_Q3_1_Min   = 238.8
ODH_66_HSD_H4_1_Max   = 475.7
ODH_66_HSD_H4_1_Min   = 389.2
ODH_66B_HSD_D11_1_Max = 475.7
ODH_66B_HSD_D11_1_Min = 389.2
ODH_84_HSD_D4_1_Max   = 977.8
ODH_84_HSD_D4_1_Min   = 800.0
ODH_86_HSD_H3_2_Max   = 880.0   ;Envelop
ODH_86_HSD_H3_2_Min   = 720.0   ;Envelop
ODH_89_HSD_D4_0_Max   = 977.8   ;Envelop
ODH_89_HSD_D4_0_Min   = 800.0   ;Envelop
ODH_90_HSD_H5_1_Max   = 880.0   ;Envelop
ODH_90_HSD_H5_1_Min   = 720.0   ;Envelop
ODH_91B_HSD_D22_1_Max = 977.8   ;Envelop
ODH_91B_HSD_D22_1_Min = 800.0   ;Envelop
ODH_91A_HSD_D11_0_Max = 475.7   ;Envelop
ODH_91A_HSD_D11_0_Min = 389.2   ;Envelop
ODH_93_HSD_Q1_1_Max   = 291.9
ODH_93_HSD_Q1_1_Min   = 238.8
ODH_94_HSD_D8_1_Max   = 977.8   ;Envelop
ODH_94_HSD_D8_1_Min   = 800.0   ;Envelop
ODH_95_HSD_D6_0_Max   = 291.9   ;Envelop
ODH_95_HSD_D6_0_Min   = 238.8   ;Envelop


[Low Side Driver Immunity A]
OL_03_LSD_5_Max = 0.20
OL_03_LSD_5_Min = 0.12
OL_04_LSD_6_Max = 0.20
OL_04_LSD_6_Min = 0.12
OL_02_LSD_3_Max = 0 ;Envelop.
OL_02_LSD_3_Min = 0 ;Envelop

[Low Side Driver Immunity B]
OL_05_LSD_4_Max = 0.30
OL_05_LSD_4_Min = 0.22
OL_01_LSD_7_Max = 0 ;Envelop
OL_01_LSD_7_Min = 0 ;Envelop

[H-Bridge Driver Immunity A]
OMH01_1_FBR_01_1_Max  = 370.5
OMH01_1_FBR_01_1_Min  = 303.2
OMH01_2_FBR_01_2_Max  = 370.5
OMH01_2_FBR_01_2_Min  = 303.2
OMHb01_B_HBR_02_2_Max = 370.5
OMHb01_B_HBR_02_2_Min = 303.2
OMHb02_B_HBR_03_1_Max = 275
OMHb02_B_HBR_03_1_Min = 225
OMHb03_B_HBR_02_1_Max = 370.5
OMHb03_B_HBR_02_1_Min = 303.2
OMHb05_B_HBR_01_1_Max = 275
OMHb05_B_HBR_01_1_Min = 225
OMHb04_B_HBR_03_2_Max = 275  ;Envelop
OMHb04_B_HBR_03_2_Min = 225  ;Envelop
OMHb06_B_HBR_01_2_Max = 275 ;Envelop
OMHb06_B_HBR_01_2_Min = 225 ;Envelop

[H-Bridge Driver Immunity B]