;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S3 - ZCU Front
; Creator：Sam Chu
; Create Date：2026/01/21
; Note：
; For ZCU_Front 2.7.0 driving mode
;
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********
[Error Code]
CAN                 = ZCUCA01
LIN                 = ZCULI01
Ethernet            = ZCUET01
Interlock input     = ZCUIN01
Interlock output    = ZCUIN02
Analog VREF input   = ZCUAN01
Analog In input     = ZCUAN01
Analog In output    = ZCUAN02
ABE                 = ZCUAE01
Limp Home           = ZCULH01
NOR Flash           = ZCUNF01
EEPROM              = ZCUEE01
Air Pressure sensor = ZCUAP01
RTC                 = ZCURT01
PMIC                = ZCUPM01
Digital I/O         = ZCUDI01
CCS                 = ZCUCC01
CHAdeMO             = ZCUCH01
Wake up             = ZCUWK01
Power Blue          = ZCUPB01
Power Red           = ZCUPR02 
Sleep Current       = ZCUSC03
TRK                 = ZCUSP03
HSD                 = ZCUHS01
LSD                 = ZCULS01
H-bridge            = ZCUHB01

[CAN]
; As EOL Test
CAN14CM = 1
CAN14CE = 1
CAN15CM = 1
CAN15CE = 1
CAN03-- = 1
CAN04-- = 1
CAN05CM = 1
CAN05CE = 1
CANWAKE = 1

[LIN]
; As EOL Test
LIN01CM = 1
LIN01CE = 1
LIN02CM = 1
LIN02CE = 1
LIN03CM = 1
LIN03CE = 1
LIN04CM = 1
LIN04CE = 1

[CCS]
SLAC = 1
Ping = 1

[CAN Error]
; 0x00000000: Indicates the absence of errors on the CAN network.
; 0x00000001: Indicates the presence of one error on ERR Pin.
CANFD14             = 0
CANFD15             = 0
CANFD3              = 0
CAN4                = 0
CANFD5              = 0
CANFD_WAKE          = 0

[Interlock Feedback]
; Interlock Cross
SAV_SBW_INTLOCK11_AIN65_Max = 3920
SAV_SBW_INTLOCK11_AIN65_Min = 2363
SAV_SBW_INTLOCK12_AIN49_Max = 3630
SAV_SBW_INTLOCK12_AIN49_Min = 2191
SAV_BOX_INTLOCK11_AIN59_Max = 3920
SAV_BOX_INTLOCK11_AIN59_Min = 203
SAV_BOX_INTLOCK12_AIN66_Max = 3630
SAV_BOX_INTLOCK12_AIN66_Min = 29

[Interface Voltages References]
; These monitored feedbacks are related to internal analog values
; 0x0B
SAV_VDD5A_APP1_AIN7_Max        = 4185
SAV_VDD5A_APP1_AIN7_Min        = 4041
; 0x0C
SAV_VDD5A_APP2_AIN27_Max        = 4185
SAV_VDD5A_APP2_AIN27_Min        = 4041
; 0x0D
SAV_uP_AD1_AIN69_Max            = 3480
SAV_uP_AD1_AIN69_Min            = 3350
; 0x0E
SAV_O_V_5V_G1_AIN31_Max         = 2550
SAV_O_V_5V_G1_AIN31_Min         = 2450
; 0x0F
SAV_O_V_5V_G2_AIN3_Max         = 2550
SAV_O_V_5V_G2_AIN3_Min         = 2450
; 0x10
SAV_UBR_RDBL_MON_AIN5_Max      = 2486
SAV_UBR_RDBL_MON_AIN5_Min      = 2172
; 0x11
SAV_UBR_BL_MON_AIN63_Max        = 2513
SAV_UBR_BL_MON_AIN63_Min        = 2273
; 0x12
SAV_UBR_RD_MON_AIN17_Max        = 2513
SAV_UBR_RD_MON_AIN17_Min        = 2273
; 0x13
SAV_VV_D_RD_AIN4_Max           = 1248
SAV_VV_D_RD_AIN4_Min           = 1108
; 0x14
SAV_VV_BAT_RDBL_AIN24_Max       = 1208
SAV_VV_BAT_RDBL_AIN24_Min       = 1051
; 0x15
SAV_VV_D_BL_AIN30_Max           = 1248
SAV_VV_D_BL_AIN30_Min           = 1108
; 0x16
SAV_S3180_AIN60_Max       = 2517
SAV_S3180_AIN60_Min       = 2339
; 0x18
SAV_V_V_PERMBATBL_AIN1_Max     = 1425
SAV_V_V_PERMBATBL_AIN1_Min     = 1165
; 0x19
SAV_V_V_PERMBATRD_AIN25_Max     = 1288
SAV_V_V_PERMBATRD_AIN25_Min     = 1165
; 0x1A
SAV_V_V_PERMBATBL_RED_AIN15_Max = 1288
SAV_V_V_PERMBATBL_RED_AIN15_Min = 1165
; 0x1B
SAV_V_V_PERMBATRD_RED_AIN20_Max = 1288
SAV_V_V_PERMBATRD_RED_AIN20_Min = 1165
; TBC

[Analog Inputs]
; 5.0V
IA_APP1_AIN6_Max      = 4811
IA_APP1_AIN6_Min      = 4353
IA_APP1_REDU_AIN11_Max = 4811
IA_APP1_REDU_AIN11_Min = 4353
IA_APP2_AIN28_Max      = 3570
IA_APP2_AIN28_Min      = 3230
IA_APP2_REDU_AIN23_Max = 3570
IA_APP2_REDU_AIN23_Min = 3230
IA_HP_AIN44_Max        = 4504
IA_HP_AIN44_Min        = 4075
IA_RES_P1_AIN46_Max    = 4504
IA_RES_P1_AIN46_Min    = 4075
IA_RES_P2_AIN34_Max    = 4504
IA_RES_P2_AIN34_Min    = 4075
; 4.7k Ohm
IA_HT1_AIN12_Max    = 5250
IA_HT1_AIN12_Min    = 4151
IA_HT2_AIN64_Max    = 5250
IA_HT2_AIN64_Min    = 4151
IA_LT1_AIN32_Max    = 5250
IA_LT1_AIN32_Min    = 4151
IA_LT2_AIN51_Max    = 5250
IA_LT2_AIN51_Min    = 4151
IA_LT3_AIN14_Max    = 5250
IA_LT3_AIN14_Min    = 4151
IA_LT4_AIN9_Max    = 5250
IA_LT4_AIN9_Min    = 4151
IA_RES_T1_AIN42_Max = 5250
IA_RES_T1_AIN42_Min = 4151
IA_RES_T2_AIN33_Max = 5250
IA_RES_T2_AIN33_Min = 4151
IA_TWLS1_AIN58_Max  = 5034
IA_TWLS1_AIN58_Min  = 4555
IA_TWLS2_AIN13_Max  = 5034
IA_TWLS2_AIN13_Min  = 4555
IA_TWLS3_AIN53_Max  = 5034
IA_TWLS3_AIN53_Min  = 4555
IA_CAL2_P33_6_Max               = 4981
IA_CAL2_P33_6_Min               = 218
;IT_E-STOP_P33_3_Max = 1
;IT_E-STOP_P33_3_Min = 1
;IT_RES02_P33_2_Max = 1
;IT_RES02_P33_2_Min = 1
;IT_IGNSTART_P33_0_Max = 1
;IT_IGNSTART_P33_0_Min = 1

[Digital Inputs]
IT_BRKSW    = 2
IT_RES01    = 2
IT_BPCM     = 2
IT_ETAT     = 2
IT_E-STOP   = 2
IT_RES02    = 2
IT_IGNSTART = 2
CTO_BRKSW   = 2

[LSDs Sense]
SOLVAL1_Max   = 5250
SOLVAL1_Min   = 1490
SOLVAL2_Max   = 5250
SOLVAL2_Min   = 1490
EVCMD_Max     = 5250
EVCMD_Min     = 1490
LSD_RES02_Max = 5250
LSD_RES02_Min = 1490
LSD_RES01_Max = 5250
LSD_RES01_Min = 1490
; CCB_Max       = 0
; CCB_Min       = 0
; RBT_Max       = 0
; RBT_Min       = 0
; ONINFO_Max    = 0
; ONINFO_Min    = 0

[LSDs FDOUT Sense]
CCB_Max       = 58
CCB_Min       = 39
RBT_Max       = 58
RBT_Min       = 39
ONINFO_Max    = 156
ONINFO_Min    = 113

[LSDs FCOMP Sense]
CCB_Max       = 63
CCB_Min       = 0
RBT_Max       = 71
RBT_Min       = 0
ONINFO_Max    = 404
ONINFO_Min    = 0

[HSDs Sense]
O_S_HSD_RES01_Max     = 864
O_S_HSD_RES01_Min     = 0
O_S_HSD2_Max      = 864
O_S_HSD2_Min      = 0
O_S_HSD_RES03_Max     = 361
O_S_HSD_RES03_Min     = 0
O_S_R1-RELAY_Max  = 864
O_S_R1-RELAY_Min  = 0
O_S_R2-RELAY_Max  = 864
O_S_R2-RELAY_Min  = 0
O_S_CHARSUP_Max   = 1256
O_S_CHARSUP_Min   = 0
O_S_R12-RELAY_Max = 864
O_S_R12-RELAY_Min = 0
O_S_R13-RELAY_Max = 864
O_S_R13-RELAY_Min = 0
I_S_RDC_CM_Max   = 411
I_S_RDC_CM_Min   = 0

[H-BRIDGE Sense]
SAV_HBR1_CF_P00_4_Max = 2122
SAV_HBR1_CF_P00_4_Min = 1029

[CCS Feedback]
SAV_BIST_FB_AIN0_Min        = 0
SAV_BIST_FB_AIN0_Max        = 2780
SAV_CP_AIN54_DIA_OFF_Min    = 0
SAV_CP_AIN54_DIA_OFF_Max    = 1104
SAV_CP_AIN54_DIA_ON_Min     = 0
SAV_CP_AIN54_DIA_ON_Max     = 0
CTO_CP_PWM_P10_9_Min        = 0
CTO_CP_PWM_P10_9_Max        = 0
SAV_MEAS_12V_AIN55_Min      = 0
SAV_MEAS_12V_AIN55_Max      = 0
CCS_PP_DIA_OFF_Max          = 0
CCS_PP_DIA_OFF_Min          = 0
CCS_PP_DIA_ON_Max          = 0
CCS_PP_DIA_ON_Min          = 0

[CHAdeMO CS-DIA OFF]
SAV_CHADEMO_CS_MEAS1_AIN29_Min = 0
SAV_CHADEMO_CS_MEAS1_AIN29_Max = 0
SAV_CHADEMO_CS_MEAS2_AIN18_Min = 0
SAV_CHADEMO_CS_MEAS2_AIN18_Max = 0

[CHAdeMO CP12-DIA OFF]
SAV_CP1_AIN19_Min = 0
SAV_CP1_AIN19_Max = 0
SAV_CP2_AIN21_Min = 0
SAV_CP2_AIN21_Max = 0

[CHAdeMO CS-DIA ON]
SAV_CHADEMO_CS_MEAS1_AIN29_Min = 0
SAV_CHADEMO_CS_MEAS1_AIN29_Max = 2
SAV_CHADEMO_CS_MEAS2_AIN18_Min = 0
SAV_CHADEMO_CS_MEAS2_AIN18_Max = 5250

[CHAdeMO CP12-DIA ON]
SAV_CP1_AIN19_Min = 0
SAV_CP1_AIN19_Max = 4
SAV_CP2_AIN21_Min = 0
SAV_CP2_AIN21_Max = 3216

[CHAdeMO CP3-DIA OFF]
SAV_CP3_MEAS1_AIN10_Min = 0
SAV_CP3_MEAS1_AIN10_Max = 0
SAV_CP3_MEAS2_AIN8_Min = 0
SAV_CP3_MEAS2_AIN8_Max = 0

[CHAdeMO CP3-DIA ON]
SAV_CP3_MEAS1_AIN10_Min = 0
SAV_CP3_MEAS1_AIN10_Max = 1746
SAV_CP3_MEAS2_AIN8_Min = 0
SAV_CP3_MEAS2_AIN8_Max = 3498

[Pressure Sensor]
Current_Pressure        = 1

[EEPROM]
; TBC
EEPROM ID      = 00-00-20-00-0D
EEPROM CRC     = 00-FF-6C-AB-0B

[Flash]
; TBC
Flash ID      = 00-00-C2-20-18
Flash CRC     = 00-FE-A8-A8-21

[RTC1]
RTC1 Timer       = 1

[RTC2]
RTC2 Timer       = 1

; [Voltage Monitoring]
; O_V_5VAPP1_Max    = 2600
; O_V_5VAPP1_Min    = 2400
; O_V_5VRES03_Max   = 2600
; O_V_5VRES03_Min   = 2400
; O_V_5V_RES_P1_Max = 2600
; O_V_5V_RES_P1_Min = 2400
; O_V_5VAPP2_Max    = 2600
; O_V_5VAPP2_Min    = 2400
; O_V_5VHP_Max      = 2600
; O_V_5VHP_Min      = 2400
; O_V_5V_RES_P2_Max = 2600
; O_V_5V_RES_P2_Min = 2400