;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S3 - ZCU Front
; Creator：Boris
; Create Date：2026/03/04
; Note：GEN1 Front
;       EMC & DQA LoadBox
;       Test voltage 13.5v
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********
[Error Code]
CAN                 = ZCUCA01
LIN                 = ZCULI01
Ethernet            = ZCUET01
Interlock input     = ZCUIN01
Interlock output    = ZCUIN02
Analog VREF input   = ZCUAN01
Analog In input     = ZCUAN01
Analog In output    = ZCUAN02
ABE                 = ZCUAE01
Limp Home           = ZCULH01
NOR Flash           = ZCUNF01
EEPROM              = ZCUEE01
Air Pressure sensor = ZCUAP01
RTC                 = ZCURT01
PMIC                = ZCUPM01
Digital I/O         = ZCUDI01
CCS                 = ZCUCC01
CHAdeMO             = ZCUCH01
Wake up             = ZCUWK01
Power Blue          = ZCUPB01
Power Red           = ZCUPR02 
Sleep Current       = ZCUSC03
TRK                 = ZCUSP03
HSD                 = ZCUHS01
LSD                 = ZCULS01
H-bridge            = ZCUHB01

[Power Monitor]
SAV_V_V_PERMBATBL_RED_Max = 1288
SAV_V_V_PERMBATBL_RED_Min = 1165
SAV_V_V_PERMBATBL_Max     = 1288
SAV_V_V_PERMBATBL_Min     = 1165
SAV_V_V_PERMBATRD_RED_Max = 1288
SAV_V_V_PERMBATRD_RED_Min = 1165
SAV_V_V_PERMBATRD_Max     = 1288
SAV_V_V_PERMBATRD_Min     = 1165
SAV_VV_BAT_RDBL_Max       = 1208
SAV_VV_BAT_RDBL_Min       = 1051
SAV_VV_D_BL_Max           = 1248
SAV_VV_D_BL_Min           = 1108
SAV_VV_D_RD_Max           = 1248
SAV_VV_D_RD_Min           = 1108
SAV_UBR_RDBL_MON_Max      = 2486
SAV_UBR_RDBL_MON_Min      = 2172
SAV_UBR_BL_MON_Max        = 2513
SAV_UBR_BL_MON_Min        = 2273
SAV_UBR_RD_MON_Max        = 2513
SAV_UBR_RD_MON_Min        = 2273
SAV_O_V_5V_G1_Max         = 2550
SAV_O_V_5V_G1_Min         = 2450
SAV_O_V_5V_G2_Max         = 2550
SAV_O_V_5V_G2_Min         = 2450
SAV_VDD5A_APP1_Max        = 4185
SAV_VDD5A_APP1_Min        = 4041
SAV_VDD5A_APP2_Max        = 4185
SAV_VDD5A_APP2_Min        = 4041
SAV_uP_AD1_Max            = 3480
SAV_uP_AD1_Min            = 3350
SAV_S3180_Max             = 2517
SAV_S3180_Min             = 2339
IA_CAL2_Max               = 241
IA_CAL2_Min               = 218

[Internal IC]
EEPROM          = 00-00-20-00-0D
NOR Flash       = 00-00-C2-20-18
Pressure Sensor = 00-D4-06-42-03
RTC1            = 1
RTC2            = 1


[Voltage Monitoring]
O_V_5VAPP1_Max    = 2550
O_V_5VAPP1_Min    = 2327
O_V_5VRES03_Max   = 2550
O_V_5VRES03_Min   = 2327
O_V_5V_RES_P1_Max = 2550
O_V_5V_RES_P1_Min = 2327
O_V_5VAPP2_Max    = 2550
O_V_5VAPP2_Min    = 2327
O_V_5VHP_Max      = 2550
O_V_5VHP_Min      = 2327
O_V_5V_RES_P2_Max = 2550
O_V_5V_RES_P2_Min = 2327

[CAN]
CAN14CM = 1
CAN14CE = 1
CAN15CM = 1
CAN15CE = 1
CAN03-- = 1
CAN04-- = 1
CAN05CM = 1
CAN05CE = 1
CANWAKE = 1

[LIN]
LIN01CM = 1
LIN01CE = 1
LIN02CM = 1
LIN02CE = 1
LIN03CM = 1
LIN03CE = 1
LIN04CM = 1
LIN04CE = 1

[Analog Input Type-1_1]
IA_APP1_Max      = 4811
IA_APP1_Min      = 4353
IA_APP1_REDU_Max = 4811
IA_APP1_REDU_Min = 4353
IA_APP2_Max      = 3570
IA_APP2_Min      = 3230
IA_APP2_REDU_Max = 3570
IA_APP2_REDU_Min = 3230
IA_HP_Max        = 4504
IA_HP_Min        = 4075
IA_RES_P1_Max    = 4504
IA_RES_P1_Min    = 4075
IA_RES_P2_Max    = 4504
IA_RES_P2_Min    = 4075

[Analog Input Type-1_2]
IA_APP1_Max      = 3175
IA_APP1_Min      = 2873
IA_APP1_REDU_Max = 3175
IA_APP1_REDU_Min = 2873
IA_APP2_Max      = 2356
IA_APP2_Min      = 2131
IA_APP2_REDU_Max = 2356
IA_APP2_REDU_Min = 2131
IA_HP_Max        = 2972
IA_HP_Min        = 2689
IA_RES_P1_Max    = 2972
IA_RES_P1_Min    = 2689
IA_RES_P2_Max    = 2972
IA_RES_P2_Min    = 2689

[Analog Input Type-1_3]
IA_HP_Max        = 1621
IA_HP_Min        = 1467
IA_RES_P1_Max    = 1621
IA_RES_P1_Min    = 1467
IA_RES_P2_Max    = 1621
IA_RES_P2_Min    = 1467

[Analog Input Type-1_4]
IA_APP1_Max      = 268
IA_APP1_Min      = 242
IA_APP1_REDU_Max = 268
IA_APP1_REDU_Min = 242
IA_APP2_Max      = 198
IA_APP2_Min      = 179
IA_APP2_REDU_Max = 198
IA_APP2_REDU_Min = 179

[Analog Input Type-2_1]
IA_HT1_Max    = 4588
IA_HT1_Min    = 4151
IA_HT2_Max    = 4588
IA_HT2_Min    = 4151
IA_LT1_Max    = 4588
IA_LT1_Min    = 4151
IA_LT2_Max    = 4588
IA_LT2_Min    = 4151
IA_LT3_Max    = 4588
IA_LT3_Min    = 4151
IA_LT4_Max    = 4588
IA_LT4_Min    = 4151
IA_RES_T1_Max = 4588
IA_RES_T1_Min = 4151
IA_RES_T2_Max = 4588
IA_RES_T2_Min = 4151
IA_TWLS1_Max  = 5034
IA_TWLS1_Min  = 4555
IA_TWLS2_Max  = 5034
IA_TWLS2_Min  = 4555
IA_TWLS3_Max  = 5034
IA_TWLS3_Min  = 4555

[Analog Input Type-2_2]
IA_HT1_Max    = 2661
IA_HT1_Min    = 2408
IA_HT2_Max    = 2661
IA_HT2_Min    = 2408
IA_LT1_Max    = 2661
IA_LT1_Min    = 2408
IA_LT2_Max    = 2661
IA_LT2_Min    = 2408
IA_LT3_Max    = 2661
IA_LT3_Min    = 2408
IA_LT4_Max    = 2661
IA_LT4_Min    = 2408
IA_RES_T1_Max = 2661
IA_RES_T1_Min = 2408
IA_RES_T2_Max = 2661
IA_RES_T2_Min = 2408
IA_TWLS1_Max  = 4084
IA_TWLS1_Min  = 3695
IA_TWLS2_Max  = 4084
IA_TWLS2_Min  = 3695
IA_TWLS3_Max  = 4084
IA_TWLS3_Min  = 3695

[Analog Input Type-2_3]
IA_HT1_Max    = 1370
IA_HT1_Min    = 1239
IA_HT2_Max    = 1370
IA_HT2_Min    = 1239
IA_LT1_Max    = 1370
IA_LT1_Min    = 1239
IA_LT2_Max    = 1370
IA_LT2_Min    = 1239
IA_LT3_Max    = 1370
IA_LT3_Min    = 1239
IA_LT4_Max    = 1370
IA_LT4_Min    = 1239
IA_RES_T1_Max = 1370
IA_RES_T1_Min = 1239
IA_RES_T2_Max = 1370
IA_RES_T2_Min = 1239
IA_TWLS1_Max  = 2861
IA_TWLS1_Min  = 2588
IA_TWLS2_Max  = 2861
IA_TWLS2_Min  = 2588
IA_TWLS3_Max  = 2861
IA_TWLS3_Min  = 2588

[Digital Input]
IT_BRKSW    = 1
IT_E-STOP   = 1
IT_RES01    = 1
IT_RES02    = 1
IT_IGNSTART = 1
IT_BPCM     = 2
IT_ETAT     = 2

[Interlock_1]
SAV_SBW_INTLOCK11_Max = 3920
SAV_SBW_INTLOCK11_Min = 3128
SAV_SBW_INTLOCK12_Max = 3630
SAV_SBW_INTLOCK12_Min = 2940
SAV_BOX_INTLOCK11_Max = 3920
SAV_BOX_INTLOCK11_Min = 3128
SAV_BOX_INTLOCK12_Max = 3630
SAV_BOX_INTLOCK12_Min = 2940

[Interlock_2]
SAV_SBW_INTLOCK11_Max = 82
SAV_SBW_INTLOCK11_Min = 0
SAV_SBW_INTLOCK12_Max = 82
SAV_SBW_INTLOCK12_Min = 0
SAV_BOX_INTLOCK11_Max = 82
SAV_BOX_INTLOCK11_Min = 0
SAV_BOX_INTLOCK12_Max = 82
SAV_BOX_INTLOCK12_Min = 0

[Interlock_3]
SAV_SBW_INTLOCK11_Max = 283
SAV_SBW_INTLOCK11_Min = 183
SAV_SBW_INTLOCK12_Max = 82
SAV_SBW_INTLOCK12_Min = 0
SAV_BOX_INTLOCK11_Max = 283
SAV_BOX_INTLOCK11_Min = 183
SAV_BOX_INTLOCK12_Max = 82
SAV_BOX_INTLOCK12_Min = 0

[Interlock_4]
SAV_SBW_INTLOCK11_Max = 5000
SAV_SBW_INTLOCK11_Min = 5000
SAV_SBW_INTLOCK12_Max = 5000
SAV_SBW_INTLOCK12_Min = 5000
SAV_BOX_INTLOCK11_Max = 5000
SAV_BOX_INTLOCK11_Min = 5000
SAV_BOX_INTLOCK12_Max = 5000
SAV_BOX_INTLOCK12_Min = 5000

[Interlock_5]
SAV_SBW_INTLOCK11_Max = 5000
SAV_SBW_INTLOCK11_Min = 5000
SAV_SBW_INTLOCK12_Max = 5000
SAV_SBW_INTLOCK12_Min = 5000
SAV_BOX_INTLOCK11_Max = 5000
SAV_BOX_INTLOCK11_Min = 5000
SAV_BOX_INTLOCK12_Max = 5000
SAV_BOX_INTLOCK12_Min = 5000

[Interlock_6]
SAV_SBW_INTLOCK11_Max = 5100
SAV_SBW_INTLOCK11_Min = 4900
SAV_SBW_INTLOCK12_Max = 82
SAV_SBW_INTLOCK12_Min = 0
SAV_BOX_INTLOCK11_Max = 5100
SAV_BOX_INTLOCK11_Min = 4900
SAV_BOX_INTLOCK12_Max = 82
SAV_BOX_INTLOCK12_Min = 0

[CHAdeMO_CS-Connected]
CS_MEAS1_AIN29_Max = 1601
CS_MEAS1_AIN29_Min = 676
CS_MEAS2_AIN18_Max = 1776
CS_MEAS2_AIN18_Min = 878

[CHAdeMO_CS-Left_Open]
CS_MEAS1_AIN29_Max = 1978
CS_MEAS1_AIN29_Min = 1763
CS_MEAS2_AIN18_Max = 5000
CS_MEAS2_AIN18_Min = 5000

[CHAdeMO_CP1-Connected]
SAV_CP1_AIN19_Max = 4877
SAV_CP1_AIN19_Min = 3784
SAV_CP2_AIN21_Max = 5000
SAV_CP2_AIN21_Min = 4992
;CTO_WAK_SCR_CP1_P33_14 = 1

[CHAdeMO_CP2-Connected]
SAV_CP1_AIN19_Max = 15
SAV_CP1_AIN19_Min = 0
SAV_CP2_AIN21_Max = 3182
SAV_CP2_AIN21_Min = 2943

[CHAdeMO_CP3-High]
CP3_MEAS2_AIN8_Max  = 1382
CP3_MEAS2_AIN8_Min  = 878
CP3_MEAS1_AIN10_Max = 1382
CP3_MEAS1_AIN10_Min = 878

[CHAdeMO_CP3-Low]
CP3_MEAS2_AIN8_Max    = 5000
CP3_MEAS2_AIN8_Min    = 4849
CP3_MEAS1_AIN10_Max   = 5000
CP3_MEAS1_AIN10_Min   = 4849
CP3_BIST_FB_AIN22_Max = 59
CP3_BIST_FB_AIN22_Min = 26

[CHAdeMO_CP3-Unplug]
CP3_MEAS2_AIN8_Max     = 3469
CP3_MEAS2_AIN8_Min     = 2996
CP3_MEAS1_AIN10_Max    = 1739
CP3_MEAS1_AIN10_Min    = 1487
;CP3_BIST_FB_AIN22_Max = 2992
;CP3_BIST_FB_AIN22_Min = 2446

[CCS-ALL_LOW-Unplug]
CCS_IA_PP_AIN2_Max = 4560
CCS_IA_PP_AIN2_Min = 4330

[CCS-DIA_HIGH-Unplug]
;CCS_IA_PP_AIN2_Max = 1450
;CCS_IA_PP_AIN2_Min = 1150

[CCS-PP_PU_HIGH-Unplug]
;CCS_IA_PP_AIN2_Max = 300
;CCS_IA_PP_AIN2_Min = 0

[CCS-SWPU_HIGH-Unplug]
;CCS_IA_PP_AIN2_Max = 300
;CCS_IA_PP_AIN2_Min = 0

[CCS-470-Connected]
CCS_IA_PP_AIN2_Max = 2970
CCS_IA_PP_AIN2_Min = 2540

[CCS-150-Connected]
CCS_IA_PP_AIN2_Max = 2781
CCS_IA_PP_AIN2_Min = 1310

[High Side Driver]
RES01_Max     = 864
RES01_Min     = 503
HSD2_Max      = 864
HSD2_Min      = 503
RES03_Max     = 361
RES03_Min     = 178
R1-RELAY_Max  = 864
R1-RELAY_Min  = 503
R2-RELAY_Max  = 864
R2-RELAY_Min  = 503
CHARSUP_Max   = 1256
CHARSUP_Min   = 753
RCD_Max       = 411
RCD_Min       = 188
R12-RELAY_Max = 864
R12-RELAY_Min = 503
R13-RELAY_Max = 864
R13-RELAY_Min = 503

[Low Side Driver]
SOLVAL1_Max   = 2010
SOLVAL1_Min   = 1490
SOLVAL2_Max   = 2010
SOLVAL2_Min   = 1490
EVCMD_Max     = 2010
EVCMD_Min     = 1490
CCB_Max       = 58
CCB_Min       = 39
RBT_Max       = 58
RBT_Min       = 39
ONINFO_Max    = 156
ONINFO_Min    = 113
LSD_RES01_Max = 1950
LSD_RES01_Min = 1490
LSD_RES02_Max = 1950
LSD_RES02_Min = 1490

[H-Bridge Driver]
HBR1_Max = 1579
HBR1_Min = 1029
