;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S3 - ZCU Front
; Creator：Weber
; Create Date：2026/02/13
; Note：GEN1 Front
;       EMC & DQA LoadBox
;       Test voltage 8v
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********
[Error Code]
CAN                 = ZCUCA01
LIN                 = ZCULI01
Ethernet            = ZCUET01
Interlock input     = ZCUIN01
Interlock output    = ZCUIN02
Analog VREF input   = ZCUAN01
Analog In input     = ZCUAN01
Analog In output    = ZCUAN02
ABE                 = ZCUAE01
Limp Home           = ZCULH01
NOR Flash           = ZCUNF01
EEPROM              = ZCUEE01
Air Pressure sensor = ZCUAP01
RTC                 = ZCURT01
PMIC                = ZCUPM01
Digital I/O         = ZCUDI01
CCS                 = ZCUCC01
CHAdeMO             = ZCUCH01
Wake up             = ZCUWK01
Power Blue          = ZCUPB01
Power Red           = ZCUPR02 
Sleep Current       = ZCUSC03
TRK                 = ZCUSP03
HSD                 = ZCUHS01
LSD                 = ZCULS01
H-bridge            = ZCUHB01

[Power Monitor]
SAV_V_V_PERMBATBL_RED_Max = 803
SAV_V_V_PERMBATBL_RED_Min = 657
SAV_V_V_PERMBATBL_Max     = 803
SAV_V_V_PERMBATBL_Min     = 657
SAV_V_V_PERMBATRD_RED_Max = 803
SAV_V_V_PERMBATRD_RED_Min = 657
SAV_V_V_PERMBATRD_Max     = 803
SAV_V_V_PERMBATRD_Min     = 657
SAV_VV_BAT_RDBL_Max       = 737
SAV_VV_BAT_RDBL_Min       = 603
SAV_VV_D_BL_Max           = 737
SAV_VV_D_BL_Min           = 603
SAV_VV_D_RD_Max           = 737
SAV_VV_D_RD_Min           = 603
SAV_UBR_RDBL_MON_Max      = 1474
SAV_UBR_RDBL_MON_Min      = 1206
SAV_UBR_BL_MON_Max        = 1474
SAV_UBR_BL_MON_Min        = 1206
SAV_UBR_RD_MON_Max        = 1474
SAV_UBR_RD_MON_Min        = 1206
SAV_O_V_5V_G1_Max         = 2750
SAV_O_V_5V_G1_Min         = 2250
SAV_O_V_5V_G2_Max         = 2750
SAV_O_V_5V_G2_Min         = 2250
SAV_VDD5A_APP1_Max        = 4521
SAV_VDD5A_APP1_Min        = 3699
SAV_VDD5A_APP2_Max        = 4521
SAV_VDD5A_APP2_Min        = 3699
SAV_uP_AD1_Max            = 3500
SAV_uP_AD1_Min            = 3300
SAV_S3180_Max             = 2750
SAV_S3180_Min             = 2250
IA_CAL2_Max               = 250
IA_CAL2_Min               = 210

[Internal IC]
EEPROM          = 00-00-20-00-0D
NOR Flash       = 00-00-C2-20-18
Pressure Sensor = 00-D4-06-42-03
RTC1            = 1
RTC2            = 1


[Voltage Monitoring]
O_V_5VAPP1_Max    = 2600
O_V_5VAPP1_Min    = 2400
O_V_5VRES03_Max   = 2600
O_V_5VRES03_Min   = 2400
O_V_5V_RES_P1_Max = 2600
O_V_5V_RES_P1_Min = 2400
O_V_5VAPP2_Max    = 2600
O_V_5VAPP2_Min    = 2400
O_V_5VHP_Max      = 2600
O_V_5VHP_Min      = 2400
O_V_5V_RES_P2_Max = 2600
O_V_5V_RES_P2_Min = 2400

[CAN]
CAN14CM = 1
CAN14CE = 1
CAN15CM = 1
CAN15CE = 1
CAN03-- = 1
CAN04-- = 1
CAN05CM = 1
CAN05CE = 1
CANWAKE = 1

[LIN]
LIN01CM = 1
LIN01CE = 1
LIN02CM = 1
LIN02CE = 1
LIN03CM = 1
LIN03CE = 1
LIN04CM = 1
LIN04CE = 1

[Analog Input Type-1_1]
IA_APP1_Max      = 4900
IA_APP1_Min      = 4300
IA_APP1_REDU_Max = 4900
IA_APP1_REDU_Min = 4300
IA_APP2_Max      = 3800
IA_APP2_Min      = 3000
IA_APP2_REDU_Max = 3800
IA_APP2_REDU_Min = 3000
IA_HP_Max        = 4800
IA_HP_Min        = 3800
IA_RES_P1_Max    = 4800
IA_RES_P1_Min    = 3800
IA_RES_P2_Max    = 4800
IA_RES_P2_Min    = 3800

[Analog Input Type-1_2]
IA_APP1_Max      = 3400
IA_APP1_Min      = 2700
IA_APP1_REDU_Max = 3400
IA_APP1_REDU_Min = 2700
IA_APP2_Max      = 2500
IA_APP2_Min      = 2000
IA_APP2_REDU_Max = 2500
IA_APP2_REDU_Min = 2000
IA_HP_Max        = 3200
IA_HP_Min        = 2500
IA_RES_P1_Max    = 3200
IA_RES_P1_Min    = 2500
IA_RES_P2_Max    = 3200
IA_RES_P2_Min    = 2500

[Analog Input Type-1_3]
IA_HP_Max        = 1700
IA_HP_Min        = 1300
IA_RES_P1_Max    = 1700
IA_RES_P1_Min    = 1300
IA_RES_P2_Max    = 1700
IA_RES_P2_Min    = 1300

[Analog Input Type-1_4]
IA_APP1_Max      = 290
IA_APP1_Min      = 230
IA_APP1_REDU_Max = 290
IA_APP1_REDU_Min = 230
IA_APP2_Max      = 210
IA_APP2_Min      = 170
IA_APP2_REDU_Max = 210
IA_APP2_REDU_Min = 170

[Analog Input Type-2_1]
IA_HT1_Max    = 4800
IA_HT1_Min    = 3900
IA_HT2_Max    = 4800
IA_HT2_Min    = 3900
IA_LT1_Max    = 4800
IA_LT1_Min    = 3900
IA_LT2_Max    = 4800
IA_LT2_Min    = 3900
IA_LT3_Max    = 4800
IA_LT3_Min    = 3900
IA_LT4_Max    = 4800
IA_LT4_Min    = 3900
IA_RES_T1_Max = 4800
IA_RES_T1_Min = 3900
IA_RES_T2_Max = 4800
IA_RES_T2_Min = 3900
IA_TWLS1_Max  = 4900
IA_TWLS1_Min  = 4500
IA_TWLS2_Max  = 4900
IA_TWLS2_Min  = 4500
IA_TWLS3_Max  = 4900
IA_TWLS3_Min  = 4500

[Analog Input Type-2_2]
IA_HT1_Max    = 2800
IA_HT1_Min    = 2200
IA_HT2_Max    = 2800
IA_HT2_Min    = 2200
IA_LT1_Max    = 2800
IA_LT1_Min    = 2200
IA_LT2_Max    = 2800
IA_LT2_Min    = 2200
IA_LT3_Max    = 2800
IA_LT3_Min    = 2200
IA_LT4_Max    = 2800
IA_LT4_Min    = 2000
IA_RES_T1_Max = 2800
IA_RES_T1_Min = 2200
IA_RES_T2_Max = 2800
IA_RES_T2_Min = 2200
IA_TWLS1_Max  = 4300
IA_TWLS1_Min  = 3400
IA_TWLS2_Max  = 4300
IA_TWLS2_Min  = 3400
IA_TWLS3_Max  = 4300
IA_TWLS3_Min  = 3400

[Analog Input Type-2_3]
IA_HT1_Max    = 1400
IA_HT1_Min    = 1100
IA_HT2_Max    = 1400
IA_HT2_Min    = 1100
IA_LT1_Max    = 1400
IA_LT1_Min    = 1100
IA_LT2_Max    = 1400
IA_LT2_Min    = 1100
IA_LT3_Max    = 1400
IA_LT3_Min    = 1100
IA_LT4_Max    = 1400
IA_LT4_Min    = 1100
IA_RES_T1_Max = 1400
IA_RES_T1_Min = 1100
IA_RES_T2_Max = 1400
IA_RES_T2_Min = 1100
IA_TWLS1_Max  = 2900
IA_TWLS1_Min  = 2400
IA_TWLS2_Max  = 2900
IA_TWLS2_Min  = 2400
IA_TWLS3_Max  = 2900
IA_TWLS3_Min  = 2400

[Digital Input]
IT_BRKSW    = 1
IT_E-STOP   = 1
IT_RES01    = 1
IT_RES02    = 1
IT_IGNSTART = 1
IT_BPCM     = 2
IT_ETAT     = 2

[Interlock_1]
SAV_SBW_INTLOCK11_Max = 3870
SAV_SBW_INTLOCK11_Min = 3180
SAV_SBW_INTLOCK12_Max = 3640
SAV_SBW_INTLOCK12_Min = 2990
SAV_BOX_INTLOCK11_Max = 3870
SAV_BOX_INTLOCK11_Min = 3180
SAV_BOX_INTLOCK12_Max = 3640
SAV_BOX_INTLOCK12_Min = 2990

[Interlock_2]
SAV_SBW_INTLOCK11_Max = 82
SAV_SBW_INTLOCK11_Min = 0
SAV_SBW_INTLOCK12_Max = 82
SAV_SBW_INTLOCK12_Min = 0
SAV_BOX_INTLOCK11_Max = 82
SAV_BOX_INTLOCK11_Min = 0
SAV_BOX_INTLOCK12_Max = 82
SAV_BOX_INTLOCK12_Min = 0

[Interlock_3]
SAV_SBW_INTLOCK11_Max = 300
SAV_SBW_INTLOCK11_Min = 198
SAV_SBW_INTLOCK12_Max = 82
SAV_SBW_INTLOCK12_Min = 0
SAV_BOX_INTLOCK11_Max = 300
SAV_BOX_INTLOCK11_Min = 198
SAV_BOX_INTLOCK12_Max = 82
SAV_BOX_INTLOCK12_Min = 0

[Interlock_4]
SAV_SBW_INTLOCK11_Max = 5100
SAV_SBW_INTLOCK11_Min = 4900
SAV_SBW_INTLOCK12_Max = 5100
SAV_SBW_INTLOCK12_Min = 4900
SAV_BOX_INTLOCK11_Max = 5100
SAV_BOX_INTLOCK11_Min = 4900
SAV_BOX_INTLOCK12_Max = 5100
SAV_BOX_INTLOCK12_Min = 4900

[Interlock_5]
SAV_SBW_INTLOCK11_Max = 5100
SAV_SBW_INTLOCK11_Min = 4900
SAV_SBW_INTLOCK12_Max = 5100
SAV_SBW_INTLOCK12_Min = 4900
SAV_BOX_INTLOCK11_Max = 5100
SAV_BOX_INTLOCK11_Min = 4900
SAV_BOX_INTLOCK12_Max = 5100
SAV_BOX_INTLOCK12_Min = 4900

[Interlock_6]
SAV_SBW_INTLOCK11_Max = 5100
SAV_SBW_INTLOCK11_Min = 4900
SAV_SBW_INTLOCK12_Max = 82
SAV_SBW_INTLOCK12_Min = 0
SAV_BOX_INTLOCK11_Max = 5100
SAV_BOX_INTLOCK11_Min = 4900
SAV_BOX_INTLOCK12_Max = 82
SAV_BOX_INTLOCK12_Min = 0

[CHAdeMO_CS-Connected]
CS_MEAS1_AIN29_Max = 1602
CS_MEAS1_AIN29_Min = 684
CS_MEAS2_AIN18_Max = 1768
CS_MEAS2_AIN18_Min = 886

[CHAdeMO_CS-Left_Open]
CS_MEAS1_AIN29_Max = 1970
CS_MEAS1_AIN29_Min = 1771
CS_MEAS2_AIN18_Max = 5000
CS_MEAS2_AIN18_Min = 3518

[CHAdeMO_CP1-Connected]
SAV_CP1_AIN19_Max = 4869
SAV_CP1_AIN19_Min = 3792
SAV_CP2_AIN21_Max = 5000
SAV_CP2_AIN21_Min = 5000
CTO_WAK_SCR_CP1_P33_14 = 1

[CHAdeMO_CP2-Connected]
SAV_CP1_AIN19_Max = 7
SAV_CP1_AIN19_Min = 0
SAV_CP2_AIN21_Max = 3174
SAV_CP2_AIN21_Min = 2951

[CHAdeMO_CP3-High]
CP3_MEAS2_AIN8_Max  = 1336
CP3_MEAS2_AIN8_Min  = 870
CP3_MEAS1_AIN10_Max = 1232
CP3_MEAS1_AIN10_Min = 876

[CHAdeMO_CP3-Low]
CP3_MEAS2_AIN8_Max  = 5000
CP3_MEAS2_AIN8_Min  = 4857
CP3_MEAS1_AIN10_Max = 5000
CP3_MEAS1_AIN10_Min = 5000
CP3_BIST_FB_AIN22_Max = 59
CP3_BIST_FB_AIN22_Min = 26

[CHAdeMO_CP3-Unplug]
CP3_MEAS2_AIN8_Max = 3461
CP3_MEAS2_AIN8_Min = 3004
CP3_MEAS1_AIN10_Max = 1731
CP3_MEAS1_AIN10_Min = 1495

[CCS-ALL_LOW-Unplug]
CCS_IA_PP_AIN2_Max = 5000
CCS_IA_PP_AIN2_Min = 4460

[CCS-DIA_HIGH-Unplug]
CCS_IA_PP_AIN2_Max = 1450
CCS_IA_PP_AIN2_Min = 1150

[CCS-PP_PU_HIGH-Unplug]
CCS_IA_PP_AIN2_Max = 300
CCS_IA_PP_AIN2_Min = 0

[CCS-SWPU_HIGH-Unplug]
CCS_IA_PP_AIN2_Max = 300
CCS_IA_PP_AIN2_Min = 0

[CCS-470-Connected]
CCS_IA_PP_AIN2_Max = 1650
CCS_IA_PP_AIN2_Min = 1350

[CCS-150-Connected]
CCS_IA_PP_AIN2_Max = 3360
CCS_IA_PP_AIN2_Min = 2484

[High Side Driver]
RES01_Max     = 465
RES01_Min     = 321
HSD2_Max      = 465
HSD2_Min      = 321
RES03_Max     = 200
RES03_Min     = 111
R1-RELAY_Max  = 465
R1-RELAY_Min  = 321
R2-RELAY_Max  = 465
R2-RELAY_Min  = 321
CHARSUP_Max   = 799
CHARSUP_Min   = 445
RCD_Max       = 255
RCD_Min       = 106
R12-RELAY_Max = 1861
R12-RELAY_Min = 321
R13-RELAY_Max = 465
R13-RELAY_Min = 321

[Low Side Driver]
SOLVAL1_Max   = 1800
SOLVAL1_Min   = 1500
SOLVAL2_Max   = 1800
SOLVAL2_Min   = 1500
EVCMD_Max     = 1800
EVCMD_Min     = 1500
CCB_Max       = 34
CCB_Min       = 23
RBT_Max       = 34
RBT_Min       = 23
ONINFO_Max    = 95
ONINFO_Min    = 67
LSD_RES01_Max = 1800
LSD_RES01_Min = 1500
LSD_RES02_Max = 1800
LSD_RES02_Min = 1500

[H-Bridge Driver]
HBR1_Max = 1540
HBR1_Min = 1206
