;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
; ********** History ***********
; Project：KF5S3 - ZCU Front
; Creator：Weber
; Create Date：2025/08/15
; Note：
;
; ******************************
;
; ********** 使用說明 **********
;
; ********** 使用說明 **********

[Internal IC]
EEPROM          = 1
NOR Flash       = 1
RTC1            = 1
RTC2            = 1
Pressure Sensor = 1
HSM             = 1

[Voltage Monitoring]
Enable = 1
O_V_5VAPP1    = 1
O_V_5VRES03   = 1
O_V_5V_RES_P1 = 1
O_V_5VAPP2    = 1
O_V_5VHP      = 1
O_V_5V_RES_P2 = 1

[Power Monitor]
Enable = 1
SAV_V_V_PERMBATBL_RED = 0E ;AIN15
SAV_V_V_PERMBATBL     = 0D ;AIN1
SAV_V_V_PERMBATRD_RED = 0F ;AIN20
SAV_V_V_PERMBATRD     = 10 ;AIN25
SAV_VV_BAT_RDBL       = 0B ;AIN24
SAV_VV_D_BL           = 0C ;AIN30
SAV_VV_D_RD           = 0A ;AIN4
SAV_UBR_RDBL_MON      = 07 ;AIN5
SAV_UBR_BL_MON        = 08 ;AIN63
SAV_UBR_RD_MON        = 09 ;AIN17
SAV_O_V_5V_G1         = 05 ;AIN31
SAV_O_V_5V_G2         = 06 ;AIN3
SAV_VDD5A_APP1        = 2F ;AIN7
SAV_VDD5A_APP2        = 30 ;AIN27
SAV_uP_AD1            = 31 ;AIN69
SAV_S3180             = 04 ;AIN60
IA_CAL2               = 4A

[CAN]
Enable = 1
CANFD14 = 01,14
CANFD15 = 02,15
CANFD03 = 03,03
CANFD04 = 04,04
CANFD05 = 05,05
CANFD_WAKE = 06,WK

[LIN]
Enable = 1
LIN01 = 01,01
LIN02 = 02,02
LIN03 = 03,03
LIN04 = 04,04

[Analog Input Type-1_1]
Enable = 1
IA_APP1      = 2C ;AIN06
IA_APP1_REDU = 2B ;AIN11 
IA_APP2      = 2E ;AIN28 
IA_APP2_REDU = 2D ;AIN23
IA_HP        = 1D ;AIN44
IA_RES_P1    = 1E ;AIN46
IA_RES_P2    = 2A ;AIN34

[Analog Input Type-1_2]
Enable = 1
IA_APP1      = 2C ;AIN06
IA_APP1_REDU = 2B ;AIN11 
IA_APP2      = 2E ;AIN28 
IA_APP2_REDU = 2D ;AIN23
IA_HP        = 1D ;AIN44
IA_RES_P1    = 1E ;AIN46
IA_RES_P2    = 2A ;AIN34

[Analog Input Type-1_3]
Enable = 1
IA_HP        = 1D ;AIN44
IA_RES_P1    = 1E ;AIN46
IA_RES_P2    = 2A ;AIN34

[Analog Input Type-1_4]
Enable = 1
IA_APP1      = 2C ;AIN06
IA_APP1_REDU = 2B ;AIN11 
IA_APP2      = 2E ;AIN28 
IA_APP2_REDU = 2D ;AIN23

[Analog Input Type-2]
Enable = 1
IA_HT1    = 1F,04 ;AIN12
IA_HT2    = 20,06 ;AIN64
IA_LT1    = 23,09 ;AIN32
IA_LT2    = 25,01 ;AIN51
IA_LT3    = 21,07 ;AIN14
IA_LT4    = 22,05 ;AIN09
IA_RES_T1 = 29,12 ;AIN42
IA_RES_T2 = 24,08 ;AIN33
IA_TWLS1  = 26,11 ;AIN58
IA_TWLS2  = 27,10 ;AIN13
IA_TWLS3  = 28,03 ;AIN53

[Interlock]
Enable = 1
SAV_SBW_INTLOCK11 = 32 ;AIN65
SAV_SBW_INTLOCK12 = 33 ;AIN49
SAV_BOX_INTLOCK11 = 34 ;AIN59
SAV_BOX_INTLOCK12 = 35 ;AIN66

[Digital Input]
Enable = 1
IT_BRKSW    = 19,01 ;P01_15
IT_E-STOP   = 12,02 ;P33_3
IT_RES01    = 1C,03 ;P01_14
IT_RES02    = 11,11 ;P33_2
IT_IGNSTART = 0F,12 ;P33_0
IT_BPCM     = 18,21 ;P13_13
IT_ETAT     = 1B,22 ;P30_10

[CHAdeMO]
CS-- = 1
CP1-CP2 = 1
CP3- = 1

[CCS]
SLAC = 1
PING = 1
PP_ALL_L = 1
PP_DIA_H = 1
PP_PPPU_H = 1
PP_SWPU_H = 1
PP_470_C = 1
PP_150_C = 1

[High Side Driver]
Enable = 1
RES01     = 01,7
HSD2      = 02,8
RES03     = 03,5
R1-RELAY  = 04,1
R2-RELAY  = 05,2
CHARSUP   = 06,6
RCD       = 07,18
R12-RELAY = 08,3
R13-RELAY = 09,4

[Low Side Driver]
Enable = 1
SOLVAL1   = 01,10
SOLVAL2   = 02,11
EVCMD     = 03,14
CCB       = 04,15
RBT       = 05,16
ONINFO    = 06,17
LSD_RES01 = 07,12
LSD_RES02 = 08,13

[H-Bridge Driver]
Enable = 1
HBR1 = 01,9
